[2017-07-21 15:28] joeduffy opened #1 "Enable CI tests for this repo"

[2017-07-21 21:40] joeduffy opened #2 "Recover lost typings"
After switching to the Terraform provider, we lost a fair number of strong typing niceties.  Once we pop up for air, we should attempt to recover as many of them as possible.  See the commit https://github.com/pulumi/lumi/commit/5eb8edc2942daee798a6e6558fcb82bf95381f4f for a good reference of what it used to look like.  Essentially any enums in that file are missing, and I'm sure many of the "capa

[2017-07-24 05:10] #1 closed, assigned to nobody

[2017-07-24 20:30] lukehoban opened #4 "DynamoDB migration errors"
I can't figure out what's going on here.  If I deploy an example that uses DynamoDB through the containerized Ubuntu image I see `lumi deploy` failures inside the Terraform bridge. But I can't reproduce these locally.  I believe versions of everything are the same - but very well could be that something is different (currently hard to create a stable environment with the complex sets of static and

[2017-07-24 22:31] #4 closed, assigned to nobody

[2017-07-25 04:08] lukehoban opened #5 "Beanstalk test failing"
The `examples/beanstalk` test is currently failing with the following output:

[code]

[2017-07-27 23:21] lukehoban opened #7 "code property on aws.lambda.Function forces replacement"
It looks like changes to the `code` property on an `aws.lambda.Function` are forcing it to be replaced.  This causes a lot of churn as many things are keyed off of the function identity, and should not be necessary.

If you deploy this:

[code]

and then change `"hello"` to `"goodbye"`, you would expect to see just an in-place update of the function object.  Instead, you see a replace followed by

[2017-08-01 01:38] #7 closed, assigned to joeduffy

[2017-08-04 01:22] joeduffy opened #10 "Use S3 bucket's name as part of an object's name"
At the moment, we just use the object name in its URN (and auto-propagate that to the key).  Unfortunately, this means if you have two objects in the same module, with the same names but different buckets, they will get assigned the same URN.  Ideally there would be a way to use a different property than `id` when referencing another resource object, in which case object could reference bucket's `

[2017-08-04 01:41] #5 closed, assigned to joeduffy

[2017-08-19 20:31] lukehoban opened #14 "Move closure serialization logic into lumirt"
The implementation of `aws.serverless.Function` includes both the API surface area as well as a lot of logic for serializing the closure environment.  The vast majority of that logic is not AWS or Lambda specific, and should be pushed down into the lumirt `serializeClosure` abstraction instead.

[2017-08-28 22:25] mmdriley opened #15 "Call to GetGitInfo requires entire source checkout to be present"
When building the deployment container for the Pulumi service, we'd like to bring in the `terraform-provider-aws` binary without also having to bring in the source. However, this call to `GetGitInfo` will fail if we do that:

https://github.com/pulumi/pulumi-aws/blob/ac8bf1fcc5455a4f37b7ed69ec5c25bc3dd3cb23/resources.go#L88

Let's determine if this is necessary and, if so, if we can find a better

[2017-08-31 05:21] #15 closed, assigned to nobody

[2017-09-16 19:42] joeduffy opened #21 "Expose an API to fetch availability zones"
Right now we don't have a way to get the availability zones for the target region.  This is required in many scenarios, especially when setting up highly available subnet routing.  One approach may be wire in so we can get at https://www.terraform.io/docs/providers/aws/d/availability_zones.html, which will also help with related problems like accessing the current account ID (see https://www.terra

[2017-09-17 14:06] joeduffy opened #22 "Consider improving API Resource design to avoid manual dependsOn"
Before creating an `apigateway.Integration` resource, we need to have created the `apigateway.Method`s associated with the target `apigateway.RestApi` resource.  Similarly, we must have created all of those things before creating the final `apigateway.Deployment` resource.

Because the properties of said resources do not naturally lead to the proper dependency graph, enabling parallelism can lead

[2017-09-19 00:41] joeduffy opened #23 "Function hash needs to consider environment"
At the moment, we only consider the function text when we hash closures.  See https://github.com/pulumi/pulumi-aws/blob/master/overlays/serverless/function.ts#L60.  This means that functions with the same text but different closure environments may collide and share a hash, which will result in us serializing only one copy and binding all references to that one copy.  This is clearly wrong.

Good

[2017-09-21 21:23] lukehoban opened #27 "Failures in Travis"
We just hit an odd failure in Travis, which appears to be just an intermittent issue.  May be worth looking into this further to see what the underlying issue is.

[code]

https://travis-ci.com/pulumi/pulumi-aws/builds/55153551?utm_source=github_status&utm_medium=notification

[2017-09-27 00:30] mmdriley opened #30 "Inconsistent treatment of `role` argument in IAM"
In this example, I want to create an IAM role, attach an inline policy, then create an EC2 instance profile with that role.

[code]

At point (a), the role is specified using a string ARN.
https://github.com/pulumi/pulumi-aws/blob/8345675c388cc41797286ab10d53ddccae685928/pack/iam/rolePolicy.ts#L76
At point (b), the role must be specified as the `Role` object.
https://github.com/pulumi/pulumi-aws/b

[2017-09-28 22:59] lukehoban opened #35 "Controlling what gets uploaded to Lambda zip file"
With #34 we now upload the entire source folder as part of the Lambda zip.  Previously, we uploaded the entire `node_modules` folder.

It is in general necessary to have the full source folder to support arbitrary `require('./foo')` in code running "on the inside".

However, for many/most Lambdas, they will not use any of the files in the root folder or even the `node_modules` on the inside.  So w

[2017-10-02 20:42] lukehoban opened #38 "Add overlays for types where JSON strings are expected"
There are many places where Terraform providers accept a JSON string.  We should at least add overlays that provide the shapes of those JSON objects.  And likely we should consider transformation on the properties that allow passing strongly typed object values instead of JSON strings from Pulumi.

See for example: https://github.com/pulumi/pulumi-service/commit/80a9d402bb30a948f09104df27a8fda6477

[2017-10-07 21:29] #14 closed, assigned to nobody

[2017-10-10 12:25] #23 closed, assigned to CyrusNajmabadi

[2017-10-10 16:51] #21 closed, assigned to nobody

[2017-10-10 16:52] #27 closed, assigned to nobody

[2017-10-10 16:56] mmdriley opened #40 "Port region/account/AZ functions from pulumi-service"
These functions are likely to be useful in other AWS stacks:

https://github.com/pulumi/pulumi-service/blob/080d0d7ebcdc11a64635e5a85ea317a0a0b5a4a3/infrastructure/aws.ts

[2017-10-10 17:00] mmdriley opened #41 "Have to use deprecated "roles" parameter or InstanceProfile is undeleteable"
e.g.

[code]

Caused by https://github.com/terraform-providers/terraform-provider-aws/issues/1777.

We can probably fix this in the Terraform AWS provider, but if we hit this often enough we may need to think about invoking the provider's "Refresh" logic so we're not fighting against the provider's assumptions based on how it's used from Terraform.

[2017-10-10 17:10] mmdriley opened #43 "Better solution for rolling updates of container cluster"
This is our version of https://github.com/hashicorp/terraform/issues/1552.

The better solution here may be container instances, when and if available, at which point we're not managing a group of instances at all.

[2017-10-19 18:56] lukehoban opened #47 "Travis build failing in master"
https://travis-ci.com/pulumi/pulumi-aws/builds/57279954

[code]

[2017-10-19 21:36] #47 closed, assigned to pgavlin

[2017-10-21 21:00] lukehoban opened #48 "Travis build failing in master"
https://travis-ci.com/pulumi/pulumi-aws

Potentially relevant part of logs:

[code]

[2017-10-21 21:13] lukehoban opened #49 "Check back in generated code?"
In https://github.com/pulumi/pulumi-aws/pull/42 we stopped checking in generated code.

This has some upsides (actually - does it even?), but a major downside that its now hard to understand what impact changes to code generation will have on our projection and audit them before checkin.  This was a *super* useful tool previously - both for authoring changes and for code reviewing impact of change

[2017-10-21 21:14] #49 closed, assigned to nobody

[2017-10-23 12:28] #48 closed, assigned to ellismg

[2017-10-24 04:23] lindydonna opened #50 "node_modules aren't pushed to Lambda"
I deployed this code (https://github.com/lindydonna/pulumi-cloud/tree/79dd1757078fa37122c422a00ddbb5117b3e4160/examples/url-shortener) which took a dependency on the `redis` module. It looks like the module didn't get uploaded, because I saw this error in CloudWatch:

Contents of stacks/testing.json:
[testing.json](https://github.com/pulumi/pulumi-cloud/files/1409502/testing.json.txt)

According t

[2017-10-24 16:00] #50 closed, assigned to joeduffy

[2017-10-25 01:46] lindydonna opened #53 "Add "Name" tag when creating resources"
When creating an instance such as `aws.ec2.Instance`, should use the first constructor argument to automatically name the resource using the `Name` property in the `tags` collection.

Should do this for all resources that are named, not just EC2.

[2017-10-25 01:49] lindydonna opened #54 "Adding a tag to an existing ec2 instance recreates it"
I created an `aws.ec2.Instance`, then later added an entry to the `tags` property. This caused `pulumi update` to recreate the instance.

[2017-10-26 17:32] lukehoban opened #55 "Error creating Lambda function: InvalidSignatureException: Signature expired: 20171026T165425Z is now earlier than 20171026T165554Z (20171026T170054Z - 5 min.)"
Today in CI we hit an error where a Lambda create failed with the following;

[code]

Not clear what triggered this or whether there is anything we can do to make it less likely.

The one time we hit this was while we were running tests in the Sydney region, so it could just be really slow internet connection to Travis that was the problem.

[2017-10-29 23:34] lukehoban opened #58 "Apply `AutoName` consistently"
Many resources have limits well below the default 255 used in `resources.go`.

In particular, we had recent issues with many load balancer objects having limits of 36.

We should scrub the regexps in the AWS SDK metadata to apply corrrect autoname limits here.

[2017-10-29 23:44] lukehoban opened #59 "Leaking `Role` instances"
We've exceeded our 1000 role limit.  It appears we are leaking `Roles` very fast from our tests.

[2017-10-30 19:08] #38 closed, assigned to mmdriley

[2017-11-06 21:32] ericrudder opened #60 "Start a "Known Issues" page/site/etc"
credit to donna:

we should create a known issues page, and make sure it's linked to in our documentation, and every issue has a link to a GitHub issue

[2017-11-16 19:57] #41 closed, assigned to pgavlin

[2017-11-22 23:36] lukehoban opened #72 "Address tfgen warnings"
We have several places where we may need to make updates to align with more recent changes in the TF AWS provider:

[code]

[2017-11-27 22:30] lukehoban opened #78 "Should we require explicitly providing AWS Access Key Id and Secret Access Key?"
Today, we require explicitly providing `aws:config:region`, but we pick up the access key and secret from the ambient environment.

This is inconsistent, and can lead to confusion about what the IAM credentials for the deployment really are, as they depend ambiently on where the program was run.

We could choose to require that these be provided via config settings instead of picking them up ambie

[2017-11-28 06:37] #60 closed, assigned to lindydonna

[2017-11-28 19:06] joeduffy opened #80 "Reenable component tests"

[2017-11-28 20:16] #80 closed, assigned to joeduffy

[2017-12-01 21:41] CyrusNajmabadi opened #84 "Audit AWS resource overlay to ensure proper name limits are in place"

[2017-12-01 21:53] #58 closed, assigned to nobody

[2017-12-05 17:01] chrsmith opened #90 "Need ability to specify ACM cert for HttpEndpoint"
We need the ability to specify an ACM certificate for the `cloud.HttpEndpoint` type, to enable customers to use custom domains without needing to manage certificate files themselves.

After lots of discussion with @lukehoban it sounded like the best way to design this would be to not expose this on `@pulumi/cloud` `cloud.HttpEndpoint` but instead in `@pulumi/cloud-aws` which has an extension of `c

[2017-12-05 17:59] #90 closed, assigned to lukehoban

[2017-12-20 22:08] #78 closed, assigned to pgavlin

[2018-01-11 06:45] lukehoban opened #113 "Add URN to `tags` for all resources that support it"
We would like to be able to map back from AWS resource to Pulumi URN on as may resources as possible.  This should be applied as a tag on all resources that support it.

[2018-01-13 01:19] ellismg opened #115 "CI Failing due to old version requirement for Elastic Beanstack stack"
Master is failing with this error:

[code]

We just need to upgrade the version, which @khyperia Is already doing in #114

[2018-01-14 19:48] #115 closed, assigned to nobody

[2018-01-18 20:22] #72 closed, assigned to nobody

[2018-01-21 16:18] joeduffy opened #117 "Fix KeyPair names"
KeyPairs end up with names like `terraform-20180121155020407300000001`.  Ideally they would use the same naming scheme we use for all other resources (Pulumi name plus random hash).

[2018-02-06 03:21] lindydonna opened #130 "Ship checklist for AWS provider"
- Good examples
    * Improve `serverless-raw` example (tracking in https://github.com/pulumi/pulumi-aws/issues/166)
    * Other larger examples can live in `pulumi-examples` repo.
- Attempt to minimize future breaking changes
    * [ ] Simplify generated type names (remove repetition in type name) (tracked in https://github.com/pulumi/pulumi-aws/issues/167)
    * [x] Accept strongly typed inputs

[2018-02-12 15:08] joeduffy opened #137 "Support lambdas greater than 69905067 bytes"
_From @chrsmith on November 15, 2017 19:29_

Running `pulumi preview` doesn't detect if a lambda to be deployed is too large for AWS, which leads to a catastrophic failure when you try to deploy your program. Perhaps we could issue a warning/error if we detect this during preview?

[code]

_Copied from original issue: pulumi/pulumi#573_

[2018-02-12 15:24] #55 closed, assigned to nobody

[2018-02-12 15:37] #22 closed, assigned to nobody

[2018-02-21 14:55] lukehoban opened #143 "`namePrefix` properties are not usable"
Many AWS TF resources expose `namePrefix` members.  These will use a user-provided prefix, and augment with randomness from the TF provider.

However, `namePrefix` and `name` cannot both be specified.  And we auto-specify `name` unless `name` itself has already been specified.

As a result, there is no way to pass the `namePrefix` property on these APIs (for example `LoadBalancer`, `TargetGroup`,

[2018-02-26 17:41] #59 closed, assigned to nobody

[2018-03-02 03:42] lindydonna opened #154 "`aws.apigateway.RestApi` can be leaked if provider creation fails"
To reproduce, create an API gateway as with an invalid `uri` within the swagger spec:

[code]

Output of `pulumi update`:

[code]

The resource will be partially created but not put in the checkpoint file, effectively leaking it. You can see the leaked APIs in the [AWS console](https://us-west-1.console.aws.amazon.com/apigateway/home?region=us-west-1#/apis); look for ones named `api-*`.

Possibly

[2018-03-03 01:19] #154 closed, assigned to lukehoban

[2018-03-09 19:32] lukehoban opened #166 "Improve serverless-raw example"
We should update this example to be a real working e2e demo of how to compose raw serverless resources for a simple APIGateway + Lambda + DynamoDB app.

Presumably can polish off the work done in https://github.com/pulumi/pulumi-aws/tree/serverless-raw.

[2018-03-09 19:35] lukehoban opened #167 "Project outputs with AltTypes as just the main type, not union"
Today we apply `AltTypes` to both inputs and outputs, even though in output position the value will always be of the primary type.  Including the union also makes the output property much harder to use in practice.

We should not use `AltTypes` in Output positions.

[2018-03-09 19:48] #130 closed, assigned to lukehoban

[2018-03-15 21:48] chrsmith opened #175 "Need to reorder creation/updates of ALB ListnerRule resources"
A Pulumi program which creates `aws.elasticloadbalancingv2.ListenerRule` can get into a state where the stack is essentially wedged. The issue has to do with the fact that priorities must be unique within all of the listener rules attached to an ALB.

If there is an update to a ListenerRule that changes its priority, the update fails with the following error. It's reasonable, but just annoying bec

[2018-03-20 15:51] lukehoban opened #178 "warning: aws:index/getRegion:getRegion verification warning"
For a while now - we have been seeing the following warning on every preview/update using the `@pulumi/aws` package.

[code]

[2018-03-20 16:00] #178 closed, assigned to lukehoban

[2018-03-21 21:27] joeduffy opened #179 "Service disappeared while waiting for it to reach a steady state"
We saw an intermittent failure when updating PPCs just now:

[code]

The full log is available at https://api.travis-ci.com/v3/job/115796809/log.txt?log.token=DGdrKxgiMyHZ73itqw0oyw.

It seems likely this is related to the changes pertaining to https://github.com/pulumi/pulumi-cloud/issues/312.

[2018-03-27 21:00] #166 closed, assigned to lindydonna

[2018-03-28 18:04] #179 closed, assigned to mmdriley

[2018-03-29 00:27] lukehoban opened #183 "Adopt terraform-provider-aws v1.13.0"
There was an emergency release to address a breaking change in AWS APIs:

https://github.com/terraform-providers/terraform-provider-aws/blob/master/CHANGELOG.md#1130-march-28-2018

[2018-03-29 00:47] lukehoban opened #185 "Expose new APIs in v1.13.0"
In #184 we are adopting v1.13.0 of the TF provider.  This also exposes many new APIs.  We should expose these from the Pulumi API surface area.

[code]

[2018-04-10 00:48] lukehoban opened #191 "s3.Bucket `websites` property is pluralized but should not be"
Looks like `website` is not marked as MaxItems = 1, even though it is in practice, so we should force this and/or update the TF provider.

[code]

[2018-04-10 01:36] joeduffy opened #192 "Poor error when missing AWS creds"
If you forget to configure AWS creds, you get a poor error message:

[code]

This seems to have regressed recently.  Worse, it includes a Terraform URL, which is completely useless to anybody using the Pulumi CLI.  Maybe we can leverage some of @swgillespie's recent magic to make this better?

[2018-04-11 21:59] lukehoban opened #194 "Use Node v8.10 by default in `aws.serverless.Function`"
Splitting off from https://github.com/pulumi/pulumi/issues/1113.  Now that we support any Node.js version for running Pulumi programs, we need to choose independently what version to default to for `aws.serverless.Function`.

For now, we should default to 8.10 to give access to the broadest set of capabilities.

In the future, we will need to make this configurable as well.

[2018-04-17 18:35] mmdriley opened #198 "Elastic Beanstalk test failing *and* failing to clean up"
e.g. https://travis-ci.com/pulumi/pulumi-aws/builds/71070664#L2441-L2535

[code]

[2018-04-18 04:31] #194 closed, assigned to lukehoban

[2018-04-24 16:39] lukehoban opened #201 "Service times out on creation, but appears to have actually succeeded"
In https://travis-ci.com/pulumi/pulumi-cloud/builds/71591463, there is a failure during the second update to the `pulumi-nginx` service, saying it timed out after 10 minutes.

Looking at the logs for the service, it appears that it started new tasks for the second update at 8:51:09 and reached a steady state at 8:59:42 (8m33s elapsed).  Not clear why this triggered the timeout. But also seems that

[2018-04-29 21:35] #198 closed, assigned to mmdriley

[2018-05-08 05:17] #185 closed, assigned to nobody

[2018-05-08 05:20] #183 closed, assigned to lukehoban

[2018-05-11 23:13] #192 closed, assigned to lukehoban

[2018-05-13 05:10] lukehoban opened #209 "Upload less by default into `aws.serverless.Function`"
In addition to allowing users to control what gets uplaoded to lambdas (https://github.com/pulumi/pulumi-aws/issues/35), we should also ensure that we default to a reasonable and useful set of files to upload into the Lambda.

Even if we limit to `node_modules` by default, this will in general contain lots of pacakges which are needed at Pulumi deployment time, but not at runtime.  Unfortuantely,

[2018-05-13 23:55] #35 closed, assigned to lukehoban

[2018-05-31 20:49] lukehoban opened #218 "Add enums and custom types for common AWS concepts"
CloudFormation has a few handy enums and custom types - many/most of these would be useful to express in Pulumi and to export from the `@pulumi/aws` package.

From https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/parameters-section-structure.html#aws-specific-parameter-types-supported:

[code]

[2018-05-31 21:47] pgavlin opened #219 "Elasticache Cluster ClusterID should have a default value"
This parameter is essentially the cluster's name; we should autogenerate it ala other names.

[2018-06-01 17:47] lindydonna opened #220 "Generated name for athena.Database has an unsupported character"
`aws.athena.Database` does not allow the dash character (`-`); the workaround is to use the `name` property:

[code]

[2018-06-03 20:43] joeduffy opened #221 "Audit for delete-before-recreate"
I suspect there are several places we should be using delete-before-recreate now that we can.

For instance, I just ran into an issue with ElastiCache SubnetGroups, where I couldn't change the subnets to which one was attached, because it claimed they were in use.  I suspect this is a case where we need to first tear down the ElastiCache ReplicationGroup that references it.

I was going to file an

[2018-06-05 20:12] lukehoban opened #225 "Run delete-before-create tests in parallel"
The recently added tests have added ~7 minutes to the wall clock time for running integration tests in this repo.  We should combine with existing examples so that we can run in parallel with existing tests.

See https://github.com/pulumi/pulumi-aws/pull/214/files#r190018284.

[2018-06-07 18:08] pgavlin opened #229 "Dev packages do not seem to trigger plugin installation"
e.g. given a package.json like:
[code]
Neither `npm i` nor `yarn install` seem to install the appropriate `aws` resource provider.

[2018-06-08 17:20] #229 closed, assigned to ellismg

[2018-06-11 18:40] CyrusNajmabadi opened #235 "aws.lambda.FunctionArgs overly restrictive"
Our projection of aws.lambda.FunctionArgs contains the following:

[code]

This impacted @chrsmith who had an ```Output<Archive>``` from another lambda he had, and which he wanted to pass in here.  From looking at hte ```aws.lambda.Function``` projection, it seems like this is not an accurate projection.  Instead, we should be specifying that this can take an ```Input<Archive>```.  The code seems

[2018-06-11 19:52] #235 closed, assigned to nobody

[2018-06-12 18:31] #225 closed, assigned to swgillespie

[2018-06-19 20:38] johanbrandhorst opened #248 "Better typing for Go SDK"
Hi!

I'm really excited by this project, but I was immediately disappointed by the SDK types. Here's the first one I found:

[code]

I understand this was probably a compromise to get things ready for GA, but I'd like this issue to track the work on typing this stuff up, otherwise it's little better than the JS SDK (:scream:).

Thanks

[2018-06-20 03:32] joeduffy commented on #248
@johanbrandhorst thank you for filing this.  As the guy who put this together, I can't agree more.

One of the challenges we have, which I would love feedback on since I ran out of ideas, is that it's tough to type these things.  I'm not sure if you noticed all the specialized `*XOutput` types, which more strongly types resource properties after being provisioned.  The challenge we have is that we

[2018-06-20 03:53] lukehoban commented on #248
I wonder if we should consider functions like `pulumi.String(str)` which return a `StringOutput` and then have all these inputs accept `StringOutput`.  (The name of `StringOutput` may need to change for this to feel right).  These "Output"s wouldn't carry any dependencies.

This would be a lot like `aws.String` and firends in the AWS SDK as a way to lift values into the reference types need in tha

[2018-06-20 14:08] johanbrandhorst commented on #248
@joeduffy @lukehoban thanks for your replies! I'm personally not a huge fan of the stuff the AWS SDK does (afaik it's just a helper for creating a pointer to a string literal). For discriminated unions I think the best you can do at the moment is using an unexported interface like the [Go protobuf implementation](https://github.com/golang/protobuf/blob/9f81198da99b79e14d70ca2c3cc1bbe44c6e69b6/prot

[2018-06-24 21:01] rgwood opened #249 "HttpEndpoint fails when importing other node packages (TypeScript)"
I'm trying to get started with Pulumi by creating a very simple REST API using TypeScript and `pulumi-aws`, but am running into some issues. My repro code is available here: https://github.com/rgwood/pulumi-import-repro-ts

I've started with a pretty simple architecture based on the `pulumi new typescript` template:
my business logic in [`lambda.ts`](https://github.com/rgwood/pulumi-import-repro-t

[2018-06-25 20:13] mmdriley commented on #179
I think we can read some intent here. `Partial(true)` means: these are the only attributes I want to care about right now, and all the others should stay the same. Seems especially useful in `Update` operations where things not updated don't have to be re-read.

[2018-06-27 23:29] lukehoban opened #250 "aws:apigateway/usagePlanKey:UsagePlanKey resource 'MyUsagePlanKey' has a problem: "name": this field cannot be set"
The following program fails with: `aws:apigateway/usagePlanKey:UsagePlanKey resource 'MyUsagePlanKey' has a problem: "name": this field cannot be set`

[code]

This appears to be due to the AWS provider trying to set the `name` property on the resource (presumably due to AutoName configuration), even though `name` is an output-only property.

[2018-06-29 12:42] jnancel opened #252 "Cannot authenticate on AWS using switchrole"
Hello,

I'm trying to bootstrap my first pulumi project but I'm encountering an issue with the supported authentication method on AWS.

If I'm using a profile in which my credentials are defined ( with `aws_access_key_id` and `aws_secret_access_key` ), it works like a charm. But that's not how we work in my company, we have a source account and we're using switchrole to jump from that source accou

[2018-06-30 05:19] rgwood commented on #249
Oh, and I should probably mention that I was using Pulumi v0.14 on macOS. I've just tried again using v0.14.1 on Windows, and now both the `import` and `require` approaches fail at runtime with the `Cannot find module 'qs'` error.

Seems like node modules in my package.json are not being deployed alongside the Lambda function, but I'm not sure how to resolve that.

[2018-06-30 13:18] joeduffy commented on #249
@CyrusNajmabadi @lukehoban Any idea what's wrong here?

[2018-06-30 15:31] joeduffy commented on #249
@rgwood It appears we aren't automatically detecting the `qs` and `uuid` dependencies.  Not sure why, since our automatic capture analysis should have caught this.  I filed https://github.com/pulumi/pulumi/issues/1588 to track down root causing and fixing this.

In the meantime, you can fix this issue by running

[code]

I have verified locally using your repro that this will work, and submitted a

[2018-06-30 15:31] #249 closed

[2018-06-30 17:51] rgwood commented on #249
Fantastic, thanks! I can confirm that the `cloud-aws:functionIncludePackages` config solves the issue for now.

By the way, is requiring the compiled JS output like `require('./bin/lambda');` the recommended approach for multi-file TypeScript projects like this? Not the end of the world but it feels a little awkward to reference compiled output instead of `import`ing the Typescript class like `imp

[2018-06-30 19:37] CyrusNajmabadi commented on #249
Taking a look.  :)

[2018-06-30 20:06] CyrusNajmabadi commented on #249
Ok.  So this is definitely an area that can cause confusion and trouble (as you've run into yourself).  I will let @lukehoban have the final say here as he has recently made some changes in how modules work.  However, i'm fairly confident in saying that the appropriate way to code things up here is as follows:

1. When referencing your own code, or referencing modules that you expect to use at *de

[2018-06-30 20:17] CyrusNajmabadi commented on #249
Ok: deeper dive into what's going on.  When you right a TS/JS function that is converted by 'pulumi' into an AWS-lambda, we have to do a deep analysis on your code to figure out what's going on, so we can best conver this function-object (which is created while you're running ```pulumi update```) into something suitable to be executed an some arbitrary poitn in the future by AWS.

One of the thing

[2018-06-30 20:21] rgwood commented on #249
That makes a lot of sense, thank you very much for the detailed reply! This should be enough for me to finish converting some of my Serverless Framework functions to Pulumi.

[2018-07-02 07:48] jnancel commented on #252
Hello Matt,

Thanks for the answer, I tried enabling that option but encountered a `panic` error :
[code]

Thanks

[2018-07-03 15:05] lukehoban opened #257 "Consider safer approach to determining packages to include in serverless Function zip"
In https://github.com/pulumi/pulumi-aws/pull/222, we reduced the size of serverless Function zip uploads by computing the package dependencies of the serialized code as a base set, and then allowing the user to specify additional packages to include if these dependencies were not computed correctly.

This approach generally works well, and computes minimal required depdendencies, but has a hole in

[2018-07-03 16:41] joeduffy commented on #257
I am very much in favor of an approach like this.  Requiring people to think deeply about this problem waters down our value proposition significantly, wherein we want developers to just write easy and intuitive code and have it work, using that Pulumi magic.

[2018-07-03 19:07] ouroboros8 opened #258 "Python package broken? "No module named 'get_ami'""
Steps to replicate:

1. create & activate virtualenv
[code]
2. install pulumi
[code]
3. import pulumi-aws
[code]

[2018-07-03 21:50] lindydonna commented on #54
Didn't repro, was probably fixed somewhere along the way.

[2018-07-03 21:50] #54 closed

[2018-07-03 22:11] ellismg commented on #258
Unfortunately, Python 3 support is still a work in progress.  The above issue is due to us generating import directives which are no longer supported in Python 3.X.  We've started to address Python 3 support in our core runtime: (for example https://github.com/pulumi/pulumi/pull/1563) but we haven't yet landed support in packages like `pulumi_aws`.

https://github.com/pulumi/pulumi/issues/1535 tra

[2018-07-04 13:36] swgillespie commented on #258
This is a duplicate of https://github.com/pulumi/pulumi-terraform/issues/184 - we can't generate absolute imports like we are today if we want them to work on Python 3.

[2018-07-04 13:36] #258 closed

[2018-07-04 16:03] joeduffy opened #260 "Could not include required dependency warning"
I receive the warning

[code]

for the below lambda.  I can't figure out why it's missing it, since it definitely does exist.  Is there a bug in the way we regex match scoped packages, because they exist inside of subdirectories?

[code]

[2018-07-04 16:56] joeduffy commented on #260
I suspect https://github.com/pulumi/pulumi-aws/blob/7786683cdeb1679cacd9752b4b88a6ebc7d2caf8/overlays/nodejs/serverless/function.ts#L315 is the culprit here, but I really don't follow what that code is trying to do.

Attempting a fix now, since this is blocking the demo I had wanted to do, ... please shout if anybody sees or knows anything about the underlying issue here.

[2018-07-04 17:04] joeduffy commented on #260
Yep ☹️

Notice the leading slash in `/\/\@[^\/]*\/[^\/]*$/.exec(child.path)`.  This turns names like `@protobufjs/fetch` into `/@protobufjs/fetch`, which of course will not match the desired package name.

Simple one-line fix, which I have locally, and will push.  We need tests.

[2018-07-04 17:10] lukehoban commented on #260
Argh: https://github.com/pulumi/pulumi-aws/pull/230#discussion_r193900791

The attempt to address that feedback led to this incorrect leading slash in the regexp.  I believe it works for nested dependencies in organizations, but not for top level dependencies in organizations.

:100:

[2018-07-04 17:45] joeduffy commented on #260
Hmm, well, the reason here is that `@slack/client` itself depends on the `loglevel` module, which has been installed at the top level `node_modules/` directory.  So, we have

[code]

It appears we happily zip up the `@slack/...` directory, but miss `loglevel`, and based on our current logic for doing this, this would seem to be "by design"?

Also, unless I'm missing something, I don't have a way o

[2018-07-04 22:30] lukehoban commented on #260
I can't reproduce this.  When I reference `@slack/client`, I see `loglevel` picked up and included in exactly the expected place in the `node_modules` tree.  The existing logic handles this case of dependencies which end up being placed higher in the tree by npm/yarn.

Can you share the ZIP for you Lambda?

[2018-07-04 22:31] lukehoban commented on #260
Both true - #257 should remove the need for any manual overrides.  There may still be the need for additional user blacklisting (for performance, not correctness) which we'll need to expose config for at various layers.

[2018-07-04 23:06] lukehoban commented on #260
Indeed - it looks like this does reproduce in your branch for https://github.com/pulumi/pulumi-aws/pull/261, but does not reproduce when the one character fix (to remove the leading `/`) is made instead.  I'll need to look into why that is.  Currently testing a more targeted fix in #262 (including a test case for `@slack/client`).

[2018-07-05 19:49] lukehoban commented on #260
Fixed with #262.

[2018-07-05 19:49] #260 closed

[2018-07-05 21:22] #40 closed

[2018-07-06 20:53] #250 closed

[2018-07-12 22:21] lukehoban commented on #221
I think we should instead focus on https://github.com/pulumi/pulumi/issues/1620 so that users can opt-in to this which would unblock this broadly (plus additional cases).

Other than actually hitting the need for this, it's difficult to idenitfy from an audit - so I'm inclined to wait on switching the default until we hear specific feedback (or based on identifying opt-in usage via https://github.

[2018-07-12 22:21] #221 closed

[2018-07-12 22:43] lukehoban commented on #257
Fixed with https://github.com/pulumi/pulumi-aws/pull/268.

[2018-07-12 22:43] #257 closed

[2018-07-13 17:47] mmdriley commented on #201
Solution here may be setting `healthCheckGracePeriodSeconds` in [the ECS service definition](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service_definition_parameters.html).

[2018-07-14 16:30] joeduffy opened #271 "Consider adding runtime APIs"
It would be super convenient if our resource types also exposed the runtime APIs for those types.  For instance, `aws.sqs.Queue` could have `send`, etc. functions on it.  These would be thin wrappers that basically just merge the Pulumi SDK with the target SDK in the language of choice.  For example, that SQS example would just export a subset of these functions directly: https://docs.aws.amazon.c

[2018-07-14 16:40] jen20 opened #272 "Consider adding constants for IAM actions"
When building policies as JSON objects, it would be nice to have the set of available actions exported as constants from the `pulumi-aws` library. There are three primary benefits I see:

1) Constants should help reduce the occurrence of typos rendering policies invalid if constants are used, while not preventing raw strings being used where necessary (e.g. for wildcards, or for services not yet s

[2018-07-14 18:04] jen20 commented on #272
It appears that no list of this is published by AWS in machine-readable format, but an enterprising developer has put together a script to extract it from the HTML/JS of the IAM Policy Builder:

https://github.com/rvedotrc/aws-iam-reference and
https://github.com/rvedotrc/aws-iam-reference/blob/master/all-actions.txt

[2018-07-17 18:18] lukehoban commented on #143
Feedback from @jen20 in offline discussion:

That's one option we should consider.

[2018-07-21 16:27] jen20 opened #281 "Add missing `aws.neptune.Cluster` resource"
As part of #277, I noticed that the `aws_neptune_cluster` Terraform resource is not mapped via `resources.go`, though the other Neptune resources are. From what I can tell it looks like a straightforward mapping, I'll open a pull request once #277 is merged (in order to use the correct `Tags` type).

[1]: https://www.terraform.io/docs/providers/aws/r/neptune_cluster.html

[2018-07-21 16:31] jen20 commented on #272
Unfortunately that mechanism does not result in a complete list: all of the `neptune-db` actions are missing. I didn't check for others, but it doesn't look like that will be a suitable way to get a complete list.

[2018-07-21 16:33] jen20 commented on #30
A similar issue for `RolePolicy` was fixed in #278. This shouldn't be too hard to go through and fix in the same manner without a breaking change using the same pattern.

[2018-07-21 16:39] jen20 commented on #53
I'm not sure this is a great idea in current form, though I do like the idea of attaching the "Pulumi name" in a tag in a similar manner to that described in #113.

My reasoning is that in AWS, the `Name` tag is used as a display name in the console for many resources, and consequently operators are likely to want to assign human-readable names where possible.

[2018-07-23 23:19] lukehoban commented on #30
Fixed by #278.  Thanks @jen20.

[2018-07-23 23:19] #30 closed

[2018-07-26 18:51] brandonbloom opened #1868 "email protocol for SNS topic subscriptions"
Got this error: `aws:sns/topicSubscription:TopicSubscription resource 'blah' has a problem: expected protocol to be one of [application http https lambda sms sqs], got email`

Documentation suggests that `email` is a valid value: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-sns-subscription.html

[2018-08-05 22:24] jen20 opened #288 "Add overlaid constants or sum type for PlacementGroup::strategy"
As per the AWS docs for [`create-placement-group`](https://docs.aws.amazon.com/cli/latest/reference/ec2/create-placement-group.html), valid values are:
[code]

These would be useful constants and/or a sum type to overlay such that autocomplete prevents the need for looking up the values every time!

[2018-08-05 22:25] jen20 opened #289 "Allow LaunchConfiguration::instanceProfile to accept an InstanceProfile"
It's often the case that an instance profile and launch configuration are defined close to each other, such that the instance profile object is still in scope. It should be allowed to pass the object into LaunchConfigurationArgs as well as the ID of the resulting instance profile.

This may also apply to `aws.ec2.Instance` as well as `aws.ec2.LaunchConfiguration`.

[2018-08-05 22:29] jen20 opened #290 "Allow aws.autoscaling.Group::placementGroup to refer to an aws.ec2.PlacementGroup"
This is another case where passing in an object could be preferable to referring to the object by ID, similar to #289.

[2018-08-05 22:31] jen20 opened #291 "Add constants for aws.autoscaling.Group::metricsGranularity"
`metricsGranularity` on `aws.autoscaling.Group` accepts only a limited range of values (actually just one for now: `1Minute`). It would be useful to define a constant or allow a sum type for this to allow autocomplete to assist.

[2018-08-05 22:39] jen20 opened #292 "Allow aws.autoscaling.Group::launchConfiguration to refer to an aws.ec2.LaunchConfiguration"
This is another case where passing in an object could be preferable to referring to the object by ID, similar to #289.

[2018-08-06 14:57] lukehoban opened #293 "Issue using tags: tag.0: expected object, got slice"
Issue report for pulumi-community slack channel:

------

I found another fun issue today with `aws.autoscaling.Group`. The following property value:

[code]

gives an error when updating:

[code]

[2018-08-06 14:59] jen20 commented on #293
Here's a minimally reproducing program (set up to work with the default VPC and a public AMI), and the output from it: https://gist.github.com/jen20/55038870ab0293bcb0bb964f365e3557

[2018-08-06 15:06] joeduffy commented on #293
Fwiw, I was able to successfully deploy this program with version 0.14.5 of this package.

[2018-08-06 15:15] jen20 commented on #293
Interesting - running with this `package.json` produces the same result for me:

[code]

[code]

[2018-08-06 22:38] lukehoban commented on #293
I can reproduce this.

What's really strange is that both of these are allowed by the typing, but neither work:

[code]

Fails during update with: `repro-autoscaling-group-b6c657d: invalid tag attributes: key missing`

[code]

Fails during preview with `   error: aws:autoscaling/group:Group resource 'repro-autoscaling-group' has a problem: tag.0: expected object, got slice`

My best guess is that

[2018-08-06 23:46] joeduffy commented on #293
This is really odd, I still can't repro this:

[code]

[2018-08-06 23:48] joeduffy commented on #293
And I can even update the tags afterwards:

[code]

[2018-08-07 00:27] jen20 commented on #293
To add to the mystery, I am seeing this panic when previewing a stack with _no_ tags set:

[code]

[2018-08-07 00:45] jen20 commented on #293
This seems to have got my checkpoint in bad shape such that every operation fails. I manually deleted the resource from Amazon but `pulumi refresh` still panics as above. I've saved a copy of the checkpoint which I can provide if necessary, but need to redact.

[2018-08-07 00:52] lukehoban commented on #293
Looks like things are not roundtripping through `Check` correctly:

[code]

[code]

Note that the unmarshalling side handling the return from the tf-aws provider's Check is seeing and array-or-array-of-map, not an array-of-map.

[code]

[2018-08-10 00:36] pgavlin commented on #293
This is reproing again at HEAD b/c I unintentionally reverted the change @lukehoban made to `resources.go`.

[2018-08-19 17:50] lukehoban commented on #167
This was fixed with https://github.com/pulumi/pulumi-terraform/pull/217.

[2018-08-19 17:50] #167 closed

[2018-08-21 23:10] CyrusNajmabadi opened #305 "Need to updated generates AWS resources based on the new Component/CustomResourceOptions work."

[2018-08-21 23:10] CyrusNajmabadi commented on #305
Tagging @pgavlin

[2018-08-22 02:43] #305 closed

[2018-08-25 02:21] protometa opened #308 "cloudfront.Distribution Error 412"
After successfully creating and updating an `aws.cloudfront.Distribution` resource, I start getting the following errors:

[code]

Consequently the distribution resource can then no longer be updated or destroyed. The first few updates go through fine but then it eventually starts erroring. I don't know if it's related to the specific updates I'm doing (changing the `aliases` and `acmCertificateAr

[2018-08-25 03:05] joeduffy commented on #308
I believe this is due to https://github.com/pulumi/pulumi/issues/1449.

In a nutshell, many operations in AWS will silently mutate the CloudFront distribution's ETAG, and then subsequent attempts to update it will fail (due to this "precondition").

`pulumi refresh` will fix this, by re-synchronizing the ETAG in your state file, however @pgavlin just fixed a bug that was blocking its usage for thi

[2018-08-25 03:47] protometa commented on #308
Is this the error on refresh?

[code]

[2018-08-30 18:39] #219 closed

[2018-09-14 07:06] johscheuer opened #319 "AWS ECS Fargate Docker image changes not recognized"
I followed the steps described here: https://pulumi.io/quickstart/aws/tutorial-containers-ecs-fargate.html

The following snippets works fine for the initial setup of ECS/Fargate.
[code]
When I change the Docker image and rebuild it with `pulumi update` I see the newly built Docker image in ECR but the ECS/Fargate Task won't be update. Is this a wanted behaviour? I would expect that the newly buil

[2018-09-14 13:39] lukehoban commented on #319
This issue was moved to pulumi/pulumi-cloud#595

[2018-09-14 13:39] #319 closed

[2018-09-15 13:53] jen20 opened #321 "assumeRolePolicy properties need to accept aws.PolicyDocument"
The work done in #311 makes handling policies a _lot_ nicer - we should complete the roll out of that type addition to all of the places which accept an `assumeRolePolicy` field in order that the output of `aws.iam.assumeRolePolicyForPrincipal` can be used directly without a wrapping `JSON.stringify`.

[2018-09-15 13:59] jen20 opened #322 "Create constants for AWS service principals"
Since the function `aws.iam.assumeRolePolicyForPrincipal` was introduced, code such as this has been common:

[code]

Personally I can only remember about three of the commonly used service principal addresses, but this is something where autocomplete can help out! If we export constants of the `Principal` structure for each service from the `aws.iam` namespace, this code could be rewritten:

[cod

[2018-09-15 21:06] jen20 commented on #321
This is already done, I'm not sure why I didn't notice that beforehand!

https://github.com/pulumi/pulumi-aws/blob/master/resources.go#L1216-L1220

[2018-09-15 21:06] #321 closed

[2018-09-16 00:28] #292 closed

[2018-09-16 00:28] #289 closed

[2018-09-16 00:28] #290 closed

[2018-09-16 02:58] #288 closed

[2018-09-19 22:59] #291 closed

[2018-09-20 01:44] #322 closed

[2018-09-21 23:01] #220 closed

[2018-09-21 23:01] #117 closed

[2018-09-21 23:26] pgavlin commented on #143
As long as a resource's `name` and `name_prefix` properties are marked as conflicting in its TF schema, the latter should in fact be usable: we no longer fill defaults that would conflict with existing properties.

[2018-09-21 23:26] #143 closed

[2018-09-24 17:59] joeduffy commented on #252
@jen20 just offered to help track this down, so reassigning.

[2018-09-24 19:27] swgillespie opened #337 "Error updating WAF WebAcl after partial failure"
After this failure:

[code]

It would appear that future updates to this resource (using partial state saved after the failure) results in a panic:

[code]

It's possible here that the partial state returned by the provider wasn't a valid input for this resource.

[2018-10-10 17:47] swgillespie commented on #337
Now that https://github.com/pulumi/pulumi/pull/2035 has landed this is less severe, although this resource does still need to be refreshed in order to be updated or deleted again.

[2018-10-11 00:02] lukehoban opened #348 "Lambda callback value is required by should be optional"
The callback to a lambda should be okay to call with only a single value (the error).  Currently that is not allowed because the signature is:

[code]

instead of

[code]

[2018-10-11 18:13] CyrusNajmabadi commented on #348
I think technically both could be optional.  you can just do `callback()` to indicate success (with no result), right?

[2018-10-11 19:09] lukehoban commented on #337
There is no remaining Pulumi bug here.

If we fix https://github.com/pulumi/pulumi-terraform/issues/57, that would help here.

Other than that, the only remaining possible change we might want is to update the `WebAcl` provider implementation to better support workflows without refresh.

[2018-10-11 19:38] CyrusNajmabadi commented on #348
have confirmed with the docs.

[2018-10-11 20:10] #348 closed

[2018-10-14 03:11] lukehoban opened #352 "Add support for custom authorizes in aws.apigateway.x.API"
We’ve heard several requests for supporting custom authorizers from cloud.API/aws.apigateway.x.API.

[2018-10-18 15:09] jen20 opened #353 "Add types and automatic JSON serialisation for aws.cloudwatch.Dashboard::dashboardBody"
As described in [this post](https://pulumi.io/aws/cloudwatch.html#create-an-aws-cloudwatch-resource-using-pulumiaws) and brought up in the community Slack channel, JSON is used to define a Cloudwatch dashboard.

It would be nice to provide some type helpers for making these easier to construct, and to add automatic serialisation.

[2018-10-18 15:10] jen20 commented on #353
Information on the schema is available here: https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/CloudWatch-Dashboard-Body-Structure.html

[2018-10-28 01:07] geekflyer opened #356 "JSON serialization for `assumeRolePolicy` of aws.iam.Role not working"
This should work (as per the type definition), but ends up in an error:

[code]

Error:
[code]

Versions:
Pulumi: v0.16.1
Pulumi AWS: 0.16.1

[2018-10-29 20:39] eshamay opened #357 "Missing M5 instances types for EC2"
There are no `M5` instance types defined in @pulumi/aws/ec2/instanceType.d.ts however they are supported as per EC2's docs: https://aws.amazon.com/ec2/instance-types/

[2018-10-29 20:51] lukehoban commented on #357
We should bring these enums up to date with current EC2 offerings.

Note that in the meantime - you can pass any string you want and cast `<any>”m5.large”`.

[2018-10-29 20:53] eshamay commented on #357
I tried this but it failed:

[code]

Can you paste an example that corrects it?

[2018-10-29 20:54] joeduffy commented on #10
@jen20 if this is obviously a bad idea, let's close out. Otherwise, just assigning to you for future consideration.

[2018-10-29 20:57] eshamay commented on #357
The list of instances can be programatically accessed and parsed for automated updates (with a little `jq` magic?):

`curl https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonRDS/current/index.json`

as per this: https://aws.amazon.com/about-aws/whats-new/2015/12/announcing-aws-price-list-api-programmatic-access-to-aws-prices/

[2018-10-29 22:04] #357 closed

[2018-10-29 22:48] joeduffy commented on #43
I feel like we've gotten by with native ECS, EKS, etc. behavior here. Please do reopen with more details on what specifically we need to do here, if that's not adequate.

/cc @lukehoban @pgavlin

[2018-10-29 22:48] #43 closed

[2018-10-29 22:55] joeduffy commented on #53
I agree with @jen20 here. Retiring this work item in favor of https://github.com/pulumi/pulumi-aws/issues/113.

[2018-10-29 22:55] #53 closed

[2018-10-29 23:57] joeduffy commented on #218
I know James has made a lot of good progress here, so reassigning to him for further consideration.

[2018-10-30 03:17] jen20 commented on #191
Commit 2a4132e in the Terraform provider fixes this, so this should be resolved with the next update.

[2018-10-30 04:04] jen20 commented on #356
I can reproduce this on `master` using a simplified program:

Working:

[code]

Not working:

[code]

The actual error produced comes from the Terraform schema ([here][tfschema]), and there has bee no change to that code for quite some time. Adding in execution tracing using `q`, I see that `TransformJSONDocument` is never called for this property. This is curious, since a transformer [is specifie

[2018-10-30 05:02] jen20 commented on #356
A good amount of tracing later (thanks, DTrace!), I think the issue is in `getInfoFromPulumiName` in `tfbridge`. During the `Check` phase, the Terraform and Pulumi schema are both looked up, but it appears that at least in some cases the Pulumi schema overrides are looked up using the 'native' name instead of the Terraform name, causing `SchemaInfo` to be nil in `MakeTerraformInput`, causing the T

[2018-10-30 21:09] joeduffy commented on #281
It looks like this was addressed in https://github.com/pulumi/pulumi-aws/commit/91d022dae3a239244d61574b22bb4af57d45bd5c.

[2018-10-30 21:09] #281 closed

[2018-10-31 12:22] roychoo commented on #352
Hi i saw this is being assigned. is this being work on already? If not I would not mind contributing, but may need some guidance.

[2018-10-31 17:10] CyrusNajmabadi commented on #352
Hey @roychoo .  It's been assigned, but not given a milestone.  So no work really has happened on it.  If you're interested, i'd be happy to work with you on adding this functionality.  From my brief look at authorizers, it doesn't seem like this would be that tough to do (i hope!)

[2018-11-01 16:15] jen20 commented on #356
This will need a new version of `pulumi/pulumi-terraform` pulling in, but that will resolve this issue (and a few others which are similar).

[2018-11-01 18:18] #356 closed

[2018-11-05 19:17] pgavlin opened #363 "Failure to delete topic subscription"
See the logs here: https://travis-ci.com/pulumi/pulumi-aws/builds/90306471#L2672-L2711

[code]

[2018-11-05 21:49] swgillespie opened #364 "CI test failure: no changes were expected but changes occurred"
[code]

[2018-11-06 16:58] lukehoban commented on #364
Something similar (but maybe different?) is causing failures in `pulumi/examples`, but in that case it's triggering the empty preview to propose changes (which didn't happen previously).

[code]

[2018-11-09 14:05] masterada opened #371 "Provider assumeRole argument does not work"
The following line references a closed issue in pulumi-terraform project: https://github.com/pulumi/pulumi-aws/blob/master/resources.go#L171 . It seems like assumeRole argument of the aws provider was not implemented because of this. As the mentioned issue is resolved, could you check if you can make it work?

[2018-11-21 14:41] akoenig opened #380 "MetricAlarm: Dimension keys gets snake_cased"
Just encountered a problem when creating a `aws.cloudwatch.MetricAlarm` with dimensions which are defined in `PascalCase`. After applying the resource the dimension name is actually `snake_cased`.

![screenshot 2018-11-21 at 13 41 47](https://user-images.githubusercontent.com/224910/48847846-d4793c00-eda2-11e8-84b7-27ac74d9c288.png)

I defined the dimension as follows:

[code]

Unfortunately, this

[2018-11-21 16:09] eelkeh opened #381 "ecs/service always times out"
Given the following:

[code]
Creating the resources with `pulumi up` the first time seems to work fine. After that any update to the Dockerfile results in a timeout of the update:
[code]
Times out after 10 minutes, when I run `pulumi up` after this timeout it seems to cleanup and not timeout. Any subsequent update again will timeout, tried many times to destroy and redo the entire setup, always en

[2018-11-21 16:58] lukehoban commented on #380
I suspect this is related to https://github.com/pulumi/pulumi-terraform/issues/263.

[2018-11-22 00:30] lukehoban commented on #381
Followed up with @eelkeh at https://pulumi-community.slack.com/archives/C84L4E3N1/p1542817597870700.  It appears the most immediate issue was due to ENI limits in ECS:

[code]

I'll close this out for now, and continue the debugging conversation in Slack. If it turns out there is an issue in Pulumi that is causing this we'll open a new issue as appropriate.

[2018-11-22 00:30] #381 closed

[2018-11-25 22:53] joeduffy commented on #380
@akoenig I think I have a fix for you.

Unless I'm mistaken, `"dimensions"` is supposed to be a map of key-value pairs, not an array of maps: https://github.com/pulumi/pulumi-aws/blob/cfcf3ed0c7019484ffc2a62de4498e41d802ee71/sdk/nodejs/cloudwatch/metricAlarm.ts#L226

If you change

[code]

to

[code]

I believe your code will work as intended. At least the preview looks good to me.

Note that I am

[2018-11-25 23:15] lukehoban commented on #380
There are two layers of this - TypeScript and runtime.  Historically we've only done "type checking" at the TypeScript layer.

At the TypeScript layer, I'm honestly not sure why TypeScript allows assigning `any[]` to `{[key: string]: any}`, but it does.  That means that by typing this (and many other) properties as `{[key: string]: any}` we don't get protection against passing arrays.  It appears

[2018-11-26 11:22] akoenig commented on #380
@joeduffy Awesome. This fixed my issue. Thanks a lot! :)

Also a big surprise for me that TS allows assigning `any[]` to `{[key: string]: any}` 😱 I mean, it makes sense from a JS perspective, but still ... hm.

[2018-11-26 12:40] jen20 commented on #252
Hi @jnancel! Sorry for the delay in replying here. I committed an example of using AssumeRole to the [`pulumi/examples`](https://github.com/pulumi/examples) repository a few weeks back - it's [here](https://github.com/pulumi/examples/tree/master/aws-ts-assume-role). Can you give that approach a try?

I'll close out this issue for now since there is a way to do this - please feel free to comment fu

[2018-11-26 12:44] jen20 commented on #371
Hi @masterada! I committed an example of [using AssumeRole](https://github.com/pulumi/examples/tree/master/aws-ts-assume-role) a few weeks ago - while that comment is technically correct, it's not required to use AssumeRole.

The following snippet shows the meat of doing this. I do think we need to improve the documentation here, and will open a new issue about that:

https://github.com/pulumi/exa

[2018-11-26 12:44] #371 closed

[2018-11-26 13:37] lukehoban commented on #380
Closing this out for now - we'll track follow-ups to improve things here in https://github.com/pulumi/pulumi-terraform/issues/285, pulumi/pulumi-terraform#263 and https://github.com/pulumi/pulumi-terraform/issues/147.

[2018-11-26 13:37] #380 closed

[2018-11-26 13:43] lukehoban opened #383 "Provide rich status updates for ECS Service"
ECS Services have complex initialization semantics, and many potential failure modes that cause the Service to not reach a steady state despite logically being created.

Ideally, we would provide visibility into this status in a similar way to the Kubernetes provider "rich status updates".

We cannot do this directly inside the provider, since we are building on top of the Terraform provider, but

[2018-11-26 13:52] lukehoban commented on #252
@jen20 That example shows how to use an assumed role programmatically from within Pulumi.

But do we know why the steps @jnancel tried don' work?  Is it expected that setting `AWS_PROFILE` will not work?  Is it expected that also settings `AWS_SDK_LOAD_CONFIG=1  ` causes a panic?  Can `pulumi config set aws:profile <profile>` be used instead correctly?  This approach of trying to set a profile fro

[2018-11-26 18:33] joeduffy commented on #308
@pgavlin has offered to help load balance, as part of M19 shutdown. Thanks Pat!

[2018-11-27 18:36] pgavlin commented on #308
I have confirmed that `pulumi refresh` is working as expected for CloudFront distributions. I am closing this as a duplicate of https://github.com/pulumi/pulumi/issues/1449.

[2018-11-27 18:36] #308 closed

[2018-11-30 18:36] joeduffy commented on #218
Good progress on this one, moving out of M19 but keeping in M20 as I'm sure we'll keep chipping away.

[2018-12-03 16:00] graforlock opened #389 "Issue with Autoscaling group"
I am trying to achieve a basic Rabbitmq launch configuration with autoscaling group.

The code I use for index.js is as follows:

[code]

When I try running this with `pulumi update` I get:

[code]

1) It is a valid VPC ID (I can easily use it trying manually)
2) Is the vpc id used in place of Subnet ID by any chance? This looks like what's causing the problem.
3) Version used is `@pulumi/aws@0.16

[2018-12-03 16:10] jen20 commented on #389
Hi @graforlock! This one is tricky but a result of the underlying AWS API - `vpcZoneIdentifiers` should be subnet IDs rather than a VPC ID.

If you only have a VPC ID, and need to get the subnet IDs, you can make use of the `aws.ec2.getSubnets` function in the SDK, though this will require wrapping your program in an `async` main function because of lack of top-level await in TypeScript.

If you n

[2018-12-03 21:48] graforlock commented on #389
Thanks, that solved the issue!

[2018-12-03 21:48] #389 closed

[2018-12-05 13:37] graforlock opened #390 "How to set up a vpc Id in RDS Instance ?"
According to: https://docs.subzero.cloud/images/fargate/db-advanced-1.png

It should be a property somewhere, but this is not available as per interface: https://github.com/pulumi/pulumi-aws/blob/master/sdk/nodejs/rds/instance.ts

Apart from vpc security group ids and subnet group name.

[2018-12-05 16:30] jen20 opened #391 "Allow passing a provider to serverless.apigateway.API"
Someone in the community pointed out that there is no way to pass a provider to a `serverless.apigateway.API`, which makes working with explicit provider instances hard. We should allow passing options to it.

[2018-12-05 17:18] jen20 commented on #391
`severless.apigateway.API` is now deprecated, so this bug actually should refer to `aws.apigateway.x.API`.

[2018-12-05 20:23] #391 closed

[2018-12-07 02:09] #337 closed

[2018-12-09 19:50] lukehoban commented on #2
At this point, this is tracking finding some way to proactively identify and map strongly-typed proeprty references for AWS and TF providers generally.

Frankly, we've heard very little user feedback on this, and through many rounds of discussion have come up with no great ideas for how to get to "great" coverage on strongly typed references - so our investments have been very incremental, leading

[2018-12-09 22:36] chrsmith opened #394 "Panic in AWS Resource Provider when using AWS SDK in program"
I wrote a Pulumi program to use the AWS SDK to list all S3 buckets for an account, and then use `pulumiAWS.s3.get` to create a handle to the resources within Pulumi.

When running the problem however, the underlying resource provider panics.

I would assume that its safe to make API calls using the AWS SDK within a Pulumi program, even if the AWS resource provider is using the same API as well. Is

[2018-12-09 22:37] chrsmith commented on #394
Ideally I'd like to explicitly configure the Pulumi AWS resource provider. Is there a code sample somewhere that shows how to do that? Since as-is, the stack needs to set the `aws:region` config value or else the call to `s3.get` fails. But I'd like to not provide that via Stack config, but set it programmatically. (So I could have a Stack that manages resources across multiple regions.)

[2018-12-09 23:01] joeduffy commented on #394
I'm not sure if we have good examples. Ideally we'd have docs on Pulumi.io, an example of a multi region program in our examples repo, and a blog post. @pgavlin Do we have any if these and if you would you mind providing pointers?

In the meantime, this GH contains an example https://github.com/pulumi/pulumi-service/pull/2341#issuecomment-432861887

[2018-12-09 23:03] joeduffy commented on #394
Given the source of the panIc, it appears the provider hasn't been configured before the call to import. @jen20 and @pgavlin are the right people to help you out here. I wonder if this has to do with the way we wired up import, or perhaps because you are explicitly not trying to set ambient config. Have you tried setting AWS:region in the Pulumi config and seeing if that fixes it?

[2018-12-09 23:06] lukehoban commented on #394
I just tried this myself and don't see any assert.

I suspect this is somehow related to not calling `Configure` on the provider - we've had problems with that in the past - like https://github.com/pulumi/pulumi/issues/464.

It would be good to reduce the repro and make it more explicit - I think the key to this is something about the way you are configuring the AWS provider - possibly that the co

[2018-12-10 16:20] chrsmith commented on #394
I'm able to reproduce the panic with nothing with only performing a single `s3.get` operation. Given the simplicity, it would seem more likely that it is a problem with just my machine. However, I'm on the `v0.17.0` CLI and the `latest` AWS package.

[code]

[2018-12-10 18:50] pgavlin commented on #394
https://github.com/pulumi/pulumi-terraform/pull/294 has the fix.

[2018-12-10 20:07] #394 closed

[2018-12-11 00:15] CyrusNajmabadi opened #396 "Next version of terraform will likely break us."
The next version of terraform contains several changes around how they handle deleting apigateway Deployments and Stages.  Specifically, changes like https://github.com/terraform-providers/terraform-provider-aws/commit/8973a045c4185a107e16b9a240bba039585d5cf5#diff-b9c79ba2fce900769c374964689ecc90

This impacts us due to the order in which we destroy an apigateway.  Specifically, we destroy the Sta

[2018-12-11 00:52] CyrusNajmabadi commented on #396
This is caused by the following change in teh aws-sdk for go: https://github.com/aws/aws-sdk-go/pull/2323

Specifically, they now have added these checks that the names passed in in URIs cannot be null/empty.  When terraform themselves update to this sdk, this will be an issue for them.

[2018-12-11 01:07] swgillespie commented on #396
It's likely that upstream Terraform now has this problem due to their uptake of the new AWS SDK: https://github.com/terraform-providers/terraform-provider-aws/pull/6771

[2018-12-12 00:19] kennyjwilli opened #398 "Security group update causes: "from_port (80) and to_port (80) must both be 0 to use the 'ALL' "-1" protocol""
I have a security group defined as follows:

[code]

Now I run `pulumi up` and then update the security group to look like this:

[code]
Run `pulumi up`. This will fail due to invalid configuration. Now we fix the configuration:

[code]
Run `pulumi up`. This will result in this error message:

[code]

Taken from a Slack thread [here](https://pulumi-community.slack.com/archives/C84L4E3N1/p154457275

[2018-12-13 22:21] pgavlin opened #400 "aws.autoscaling.Group.tagsCollection does not work"
The shape of this input does not match the shape that the underlying Terraform provider expects. This results in the following error when attempting to use `tagsCollection` in an ASG:
[code]

[2018-12-14 00:40] jen20 commented on #400
The following TypeScript program reproduces this:

[code]

[2018-12-14 22:56] jen20 commented on #390
Hi @graforlock! Sorry for the delay in replying here. You actually _don't_ set the VPC ID directly in the RDS API, even though the UI presents it that way. Instead, you create database subnets and a database subnet group in a given VPC, and specify the database subnet group name in the `dbSubnetGroupName` property. This is a confusing piece of the API - feel free to reopen this issue if you have a

[2018-12-14 22:56] #390 closed

[2018-12-15 04:44] #400 closed

[2018-12-19 17:55] clstokes opened #410 "Cannot use Output as input to instance tags"
Trying to use an output from a `StackReference` as an input to tags on an `aws.ec2.Instance` fails with a TypeScript compiler error.

index.ts
[code]

Compiler error:
[code]

[2018-12-19 18:16] jen20 commented on #410
This is an issue with `aws.Tags` being defined as `{ [key: string]: string }` - which isn't suitable for use with `Output` values. An immediate workaround is to calculate the the _entire_  `tags` object value as an `Output` using something like the following (making use of `pulumi.all` if necessary):

[code]

Ultimately though we need to change the type of the overlay to support `Input<string>` as

[2018-12-20 17:55] lukehoban commented on #410
Curious - what was the projection here before we added this overlay?  What do we lose if we go back to that?  This may be the best option in the near term though.

It feels like we're going to have to invest in this if we want to be able to do any type overlays "correctly".

[2018-12-20 22:14] ellismg opened #411 "Panic from provider during an update"
We saw a panic during an update in this build: https://travis-ci.com/pulumi/examples/jobs/166367054

The output from the testing harness for the test was:

[code]

I suspect the failure in delete was because we orphaned a resource while panicing during the update and did not know to delete it from the checkpoint, but I'm actually not sure if that's an issue as well (I thought we would have recorde

[2018-12-22 22:43] #410 closed

[2018-12-30 00:09] joeduffy opened #418 "Remove incorrect MaxItems = 1 on AWS ALB Listener"
This comment

https://github.com/pulumi/pulumi-aws/blob/9647dcf9c2c411913bcfff63c418d04cef429f57/resources.go#L975-L976

was introduced in https://github.com/pulumi/pulumi-aws/commit/276c743ce9dffd245088f2de9f9dfbf8799c0019. As they comment correctly says, this annotation is wrong, and should remove it; as it stands, this causes Terraform conversions to fail and docs to be generated incorrectly.

[2019-01-01 21:03] jen20 opened #419 "Add common security group rule values"
Many security groups need common rules for egress or ingress applying - for example the following to allow all traffic (commonly used for egress to match the AWS console):

[code]

Since these require memorising the combination of port and protocol (e.g. is it from 0 to 2^16-1, vs from 0 to 0 when used with protocol -1), we should add convenience structures to the overlays with some common rules d

[2019-01-02 13:40] akoenig opened #420 "Creating a volume and attaching it to an instance fails"
Creating a volume *before* attaching it as a `ebsBlockDevices` fails with the following exception: `aws:ec2/instance:Instance resource 'aaaa' has a problem: "ebs_block_device.0.volume_id": this field cannot be set`

The volume resource definition:

[code]

The instance definition:

[code]

Any help is highly appreciated 🙂

[2019-01-02 14:08] akoenig commented on #420
Okay, found an alternative approach. I created the instance without `ebsBlockDevices` and attached the volume via:

[code]

Still, two questions are unanswered 🙂

1. Why is it not possible to define tags within the `ebsBlockDevices` definition (what I wanted to do originally)?
2. Why is it not possible to set the `volumeId` in `ebsBlockDevices`?

[2019-01-03 04:53] lukehoban commented on #418
This also just blocked me from using the authentication support on ALBs, which requires that two actions be provided (an authentication action and then a forwarding action) - as in https://www.terraform.io/docs/providers/aws/r/lb_listener.html#authenticate-oidc-action.

This will be a breaking change, but it should be a "loud" breaking change in that the name of the property will change, and since

[2019-01-03 10:05] akoenig opened #422 "DLM: Execution role shouldn't be mandatory"
Creating a Lifecycle Policy (DLM) requires defining an `executionRoleArn`, whereas the CloudFormation definition states [that it is not required](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dlm-lifecyclepolicy.html#cfn-dlm-lifecyclepolicy-executionrolearn).

AWS will create a `default role` when omitting the "execution role ARN".

![screenshot 2019-01-03 at 11 03 40

[2019-01-03 21:40] jen20 opened #423 "Add an enumeration for SSM Parameter Type"
`aws.ssm.Parameter` requires `type` to be set, the documentation for which reads:

[code]

We should create constants and an enumeration for this and overlay the type.

[2019-01-05 17:48] lukehoban commented on #252
Re-opening. I hit this again recently myself, and was able to work around via an approach like the example, but as expected to just be able to set the profile externally.

[2019-01-07 16:49] ncsibra opened #426 "ElasticCahe ReplicationGroup replicationGroupId not auto generated"
`aws.elasticache.ReplicationGroup` has a `replicationGroupId` property, which will be the unique identifier for that ReplicationGroup.
It is not auto generated(does not have hash at the end) so when need to replace this resource pulumi fails:
[code]
It has a 20 character limit, so could be tricky, but I think it should be auto generated.

[2019-01-07 16:55] ncsibra opened #427 "ElasticCache ParameterGroup changes does not handled correctly"
The `aws.elasticache.ParameterGroup` could contain parameters which needs a reboot, like the `databases` for Redis.
When we're changing a reboot only parameter, pulumi tries to update the resource, but aws does not allow that:
[code]
Pulumi somehow should now when a replace necessary and when an update is enough.

[2019-01-08 01:48] lukehoban commented on #418
We had to revert the fix for this, as it is a breaking change in the provider itself (not just the typings) which doesn't version correctly.  We'll need to see if we can fix this in a (more) compatible way and/or make some fix to how we load/version providers.

[2019-01-08 01:52] lukehoban commented on #427
This is effectively the same thing tracked by https://github.com/pulumi/pulumi-terraform/issues/225.  Until we support that, I don't believe there is any way to fix this - as the behaviour here comes from the static decisions made by the AWS Terraform provider.

I'll go ahead and close this and add a comment to that issue about this use case.

[2019-01-08 01:52] #427 closed

[2019-01-08 10:34] akoenig opened #429 "Deprecation warning in WAFRegional::ByteMatchSet"
When trying to create a regional WAF ByteMatchSet:

[code]

I receive the following deprecation warning although I use `byteMatchTuples`:

`warning: urn:pulumi:ngr-backend-base::my-project::aws:wafregional/byteMatchSet:ByteMatchSet::detect-admin-route verification warning: "byte_match_tuple": [DEPRECATED] use `byte_match_tuples` instead`

[2019-01-12 03:58] #426 closed

[2019-01-12 06:04] cristi- opened #432 "A parameter in route53 is incorrectly documented"
Hi,

While trying to create a new `aws.route53.Record` A type I was looking at the parameters for `RecordArgs` and noticed that the documentation for this parameter is not correct.
It should be:
[code]
Currently:
[code]
The code:
https://github.com/pulumi/pulumi-aws/blob/9555aaff1fdf87ec6271fd620f29b1867d0aac29/sdk/nodejs/route53/record.ts#L256-L259

The documentation seems to be from the `type` p

[2019-01-12 21:09] jen20 commented on #398
Hi @kennyjwilli! Thanks for the straightforward test case here - I can reproduce this issue using it. I'll dig into this and come back to it shortly.

[2019-01-12 21:14] jen20 commented on #398
Furthermore, I cannot reproduce it using the same steps in Terraform alone, so this is likely to be an issue in the `pulumi-terraform` tfbridge component.

[2019-01-12 21:36] jen20 commented on #398
A further interesting note: if you apply the third step again, we update successfully.

[2019-01-14 19:13] #429 closed

[2019-01-15 10:37] synhershko opened #436 "Add the ability to associate a routing table to a subnet"
From the AWS VPC docs:

There is currently no way (at least not in the JS code) to control the routing of a subnet. A routing-table can only be created for a VPC.

[2019-01-17 00:30] ellismg opened #439 "Removing `minimumProtocolVersion` from `viewerCertificate` from DistributionArgs had no effect"
This change https://github.com/pulumi/get.pulumi.com/commit/5547a2d621bf27968d2b13b1aa671abb9422ab96 removed the minimumProtocolVersion value from the viewerCertificate.  The intention that this change would move us back to the behavior we had before (where we did not specify anything and got some AWS default).

In practice, it seemed to have no effect.  The update for this showed no changes:

[co

[2019-01-17 05:00] lukehoban opened #441 "`aws.apigateway.x.API` Request type missing `| null`s"
As noted in https://github.com/pulumi/pulumi-cloud/pull/683#issuecomment-454976581, it looks like the types we export for the Request shape are not quite correct.  Should we consider just exporting the more official type definitions from https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/aws-lambda/index.d.ts#L68-L69 instead of redefining these?

[2019-01-17 20:18] pgavlin commented on #439
Neat.

Best guess is that this is a side-effect of the way we handle defaults: when `tfbridge` encounters a property in the TF or Pulumi schema that has a default value but has no value in the input bag, it either pulls the default from the old state (to avoid recomputing it) or computes a new default value. In this case, `minimum_protocol_version` property has a default value in the TF schema, a

[2019-01-22 15:05] woeps opened #447 "Can't connect FIFO SQS to Lambda"
Hi!
I'm currently evaluating Pulumi for an upcoming project and I really like Pulumi so far, but I currently fail in getting the following simple test-setup up and running with Pulumi:
A Lambda triggered by the API-Gateway will publish an event to a SNS topic. A FIFO SQS will listen to that topic and triggers a Lambda.
(Flow: API > Lambda1 > SNS > SQS > Lambda2)

On `pulumi up` I get the following

[2019-01-22 15:24] woeps commented on #447
I tried to wire up the lambda manually and got the complete error-message from aws: `Unrecognized event source, must be kinesis, dynamodb stream or sqs. FIFO SQS queue is not supported as an event source (Service: AWSLambda; Status Code: 400; Error Code: InvalidParameterValueException; Request ID: 87ae19a4-1e58-11e9-aaeb-23a3bf1c084a)`
It seems like this issue is only due to current restrictions o

[2019-01-22 15:24] #447 closed

[2019-01-29 06:57] lukehoban opened #451 "Replacement proposed when not required"
Deploy the following:

[code]

And then make the change noted of `10.0.0.0/16` to `10.1.0.0/16`.  This is a change to the `tempateBody` property, which is not `ForceNew`.  Despite that, doing another update leads to a proposed replacement.  (that replacement then fails because `name` is specified, but the bug here is the fact that any replacement is proposed).

It turns out that the property actua

[2019-01-29 18:16] pgavlin commented on #451
This is https://github.com/terraform-providers/terraform-provider-aws/issues/5204.

[2019-01-29 18:16] #451 closed

[2019-02-01 18:37] swgillespie commented on #364
This has not reproed for a while.

[2019-02-01 18:37] #364 closed

[2019-02-01 18:39] swgillespie commented on #248
Go support is out of scope for M21.

[2019-02-04 05:38] hausdorff opened #458 "Should `s3.Bucket#policy` be an object?"
I believe in some places we represent policy documents as strings and in other places there is sugar for this using objects.

[2019-02-04 05:50] hausdorff commented on #458
Hmm, actually, there seem to be quite a few of these. That suggests this is on purpose?

[2019-02-07 01:01] BerndWessels opened #460 "[appsync] support for pipeline resolvers missing"
It seems that the support for [pipeline resolvers](https://docs.aws.amazon.com/appsync/latest/devguide/pipeline-resolvers.html) is missing.

If so please take this as a feature request.

If not please point me to the documentation.

Thank you

[2019-02-07 01:05] BerndWessels opened #461 "[appsync] support for serverless aurora rds data source missing"
It seems that the support for [aurora serverless rds data source](https://docs.aws.amazon.com/appsync/latest/devguide/tutorial-rds-resolvers.html) is missing.

If so please take this as a feature request.

If not please point me to the documentation.

Thank you

[2019-02-15 23:07] ellismg opened #465 "`aws.ecs.Cluster.get()` returned Cluster with `undefined` arn when lookup failed?"
This is sort of a contrived example, but I had deployed an existing cluster and was attempting to use `Cluster.get()` to read it, so I could pluck off its arn.

I assumed that I would be able to pass the name of the cluster as the `id` argument to `.get` since other parts of the AWS API allow me to just use a name, however when I did this, I got back a `Cluster`'s who's `name` and `arn` properties

[2019-02-15 23:10] ellismg commented on #465
@jen20, @lukehoban was also super confused when I showed this and had this to say:

[2019-02-15 23:12] ellismg commented on #465
I understand that get throwing is probably not reasonable as the call has to return promptly, but the read requires an RPC, but the behavior here was still super surprising to me.

[2019-02-18 08:07] rswail opened #466 "Python API needs opts on get_X functions to allow for different region providers"
Each of the AWS Resource classes (eg Vpc, Instance) take an opts parameter that can include an alternate provider. This allows resources to be created and tracked across regions.

However the equivalent get_x functions (eg get_vpc) do not, which means that only the default provider will be called when the function is invoked in pulumi.do_invoke.

This doesn't allow cross region queries via alterna

[2019-02-19 18:19] mfergus1 opened #467 "API Gateway Lambda Integration not enabled but present"
After creating a lambda function and an api gateway integration with that function, the lambda function can't actually be run via the API, even if the IAM policy is set to permit invocation of that function. The required final step is to enable the integration on the lambda function.

To reproduce, create a lambda function and an api gateway that integrates with it:
[code]
Current workaround: go i

[2019-02-19 20:37] swgillespie commented on #466
Moved to https://github.com/pulumi/pulumi-terraform/issues/331 - thanks for the report!

[2019-02-19 20:37] #466 closed

[2019-02-19 23:02] jen20 opened #469 "Incorrect example in documentation"
This example consists only of an import statement (which likely isn't required anyway) - I suspect the part of `pulumi-terraform` that extracts these is being overzealous.

https://pulumi.io/reference/pkg/nodejs/@pulumi/aws/apigateway/#Method-requestParameters

![image](https://user-images.githubusercontent.com/548524/53053812-4bcc7380-3457-11e9-9644-a3d8348e3241.png)

Thanks to @mfergus1 for repo

[2019-02-20 18:53] mfergus1 opened #471 "Re-create deployments on API change"
If a deployment exists in a stack and changes are made to the API, default to re-deploying the API for associated stages.

[2019-02-20 23:38] lukehoban commented on #471
If you are using the raw `aws.apigateway.RestApi` then I think this is just part of the design of the AWS APIs in this space.

Partly for that reason, we added `aws.apigateway.x.API` (which is being moved now to `awsx.apigateway.APi`) which takes care of this automatically (and also provides easiest ways to specify the API schema).  If you are already using this, then you should be seeing deployme

[2019-02-20 23:44] lukehoban commented on #467
I think you need an `aws.lambda.Permission`. You can see how this is all done for `awsx.apigateway.API` here:
https://github.com/pulumi/pulumi-awsx/blob/master/nodejs/awsx/apigateway/api.ts#L350.

It would be good to understand what is missing from `awsx.apigateway.API` to enable you to use that directly.  I suspect a PR to add the additional functionality will be less work than re-creating the re

[2019-02-20 23:58] mfergus1 commented on #467
@lukehoban IIRC API keys weren't prioritized. per our slack:
```Is there a way to pass apigateway.Method arguments  to apigateway.x.API()? I am having a hard time tracking `apiKeyRequired` and use of apigateway.Method at all (I have an apikey, usageplan, and usageplankey)```

```There is not currently.  We will ideally add 1st class support for API keys to `API`. In the meantime, if you need to us

[2019-02-21 00:05] lukehoban commented on #467
Got it - that makes sense. I opened https://github.com/pulumi/pulumi-awsx/issues/155 to track adding support for API keys to the higher level component.  I do hope we can catch up to your needs here so that you can avoid so much boilerplate!

[2019-02-21 00:09] mfergus1 commented on #467
Thanks @lukehoban, that'd be great :)

[2019-02-21 00:09] #467 closed

[2019-02-21 21:37] ellismg opened #472 "Errant `===`'s in waitForSteadyState` docs"
This block has a `====` at the end:

https://github.com/pulumi/pulumi-aws/blob/master/sdk/nodejs/ecs/service.ts#L200-L204

It makes VSCode think that this text should be a header, which causes poor rending:

![image](https://user-images.githubusercontent.com/9602953/53203350-c9ba8700-35dd-11e9-9f78-ebb6108d740a.png)

[2019-02-22 08:11] rswail opened #476 "application/network load balancers using subnet_mappings need to be deleted for a change"
When using applicationloadbalancer.LoadBalancer, the LB needs to be deleted/created when either the subnet_ids *or* subnet_mappings are changed.

[2019-02-22 19:18] jen20 commented on #465
I _think_ what might be going on here is that in the bridge, we don't expect importers to call `SetId`, and don't play nicely when they do. This resource is implemented in a rather strange manner upstream (it's not something I've looked at before) - I think this issue likely wants transferring over to `pulumi-terraform`.

[2019-02-22 21:40] metral opened #478 "When getting an existing EKS cluster, there isn't a way to pull the kubeconfig"
In the current eks object, we can use the `cluster` props: `certificateAuthority`, `name`, and `endpoint` to fill in the blanks in the kubeconfig file https://gist.github.com/b01eeecacccc3e284771463ed626af5e

we only do this right now in the eks object constructor, when we should actually have a `kubeconfig()` method on the object.

see community slack: https://pulumi-community.slack.com/archives/

[2019-02-22 22:15] robertbullen opened #479 "@pulumi/aws@0.16.9 fails with an unhandled error during update phase when executing within AWS CodeBuild"
Error message:

Running the exact same pulumi script in the following environments gives these results:

| Machine | OS | @pulumi/aws Version | Result |
|---|---|---|---|
| MacBook Pro | macOS 10.14.2 | 0.16.9 | ✅ |
| AWS CodeBuild | image aws/codebuild/nodejs:8.11.0 | 0.16.8 | ✅ |
| AWS CodeBuild | image aws/codebuild/nodejs:8:11:0 | 0.16.9 | ❌ |

The last resource printed to the console before t

[2019-02-22 22:29] metral commented on #352
Another user in the community slack is hitting this. Any updates?

[2019-02-23 04:19] roychoo commented on #352
Hi @CyrusNajmabadi sorry for not responding as I was busy. In a nutshell, is it to include the aws authorizer openapi extention in the swagger string?

As mentioned in here?

https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-swagger-extensions-authorizer.html

[2019-02-26 00:29] eshamay commented on #113
👍 We have a requirement to track cost for all resources under a certain project. Would love to easily track all resources for a specific Pulumi stack with tags in AWS and do a simple search with their budget explorer tooling.

[2019-02-28 01:02] lukehoban commented on #418
This is blocked on https://github.com/pulumi/pulumi/issues/2389.

[2019-02-28 01:33] lukehoban commented on #411
Closing this out as we haven't seen it again - if we see it multiple times or hear a user report we can investigate further.

[2019-02-28 01:33] #411 closed

[2019-02-28 01:34] lukehoban commented on #252
This has come up from users several times - I'd love to nail down any remaining issues here and document the expected modes that work.

[2019-03-01 01:07] lukehoban commented on #471
Per an offline conversation, it sounds like @mfergus1 is using the raw `aws.apigateway.Deployment` and related types. Stitching these together to correctly re-deploy the API is somewhat challenging due to the design of the low level API Gateway features, which is a big part of why we introduced `awsx.apigateway.API` to make this easier.

We're tracking the features that @mfergus1 was missing from

[2019-03-01 01:07] #471 closed

[2019-03-07 15:47] timmyers opened #498 "aws.ec2.Eip "allocationId" output is undefined."
When instantiating a `new aws.ec2.Eip`, I expect to be able to get the resulting allocation ID output from the variable described here: https://pulumi.io/reference/pkg/nodejs/@pulumi/aws/ec2/#Eip-allocationId.

This seems to return undefined.  The allocation ID is instead under `.id`

[code]

The first log shows the correct allocation ID, the second shows undefined.

[2019-03-07 15:56] lukehoban commented on #498
This appears to be rooted in an issue in the upstream Terraform AWS provider that `allocation_id` is defined to be an output of an `eip` resource, but is never set to a value:

https://github.com/terraform-providers/terraform-provider-aws/blob/03a8516d988de201ca3358f09b92a22f2507894d/aws/resource_aws_eip.go#L53

This means it will always be `undefined`.  The documentation for this resource doesn't

[2019-03-09 04:08] jen20 commented on #439
Moving this to M22, as the fix (from @pgavlin) relies on some other work which is not likely to land until next week.

[2019-03-09 05:29] tcondit opened #499 "invalid S3 bucket leads to failure followed by success"
As expected, `pulumi update` fails to create an `S3` bucket with invalid characters in the tag. Running update again with no changes creates the bucket, but does not, and in fact cannot, create the tag. I expected it to fail the same way the second time.

### the configuration

[code]

### first time: failure

[code]

### second time: create bucket without tag

[code]

### check tag on bucket

[co

[2019-03-12 01:31] #439 closed

[2019-03-12 20:59] jen20 commented on #398
This is fixed by #500 - once that is merged, I'll get a new release out. Thanks for the detailed report allowing verification of the fix, @kennyjwilli!

[2019-03-12 20:59] #398 closed

[2019-03-12 21:14] jen20 commented on #436
Hi @synhershko! This is actually an oddity of the underlying AWS API. You can control routing by associating a new route table with a subnet using an `aws.ec2.RouteTableAssociation`, like this:

[code]

Hope this helps!

[2019-03-12 21:14] #436 closed

[2019-03-12 21:15] jen20 commented on #191
This was fixed a while back, I'll close this issue out.

[2019-03-12 21:15] #191 closed

[2019-03-13 16:50] jen20 commented on #498
I've submitted a pull request upstream to the Terraform AWS provider to fix this particular instance, but I think more generally we should consider a way to opt out of having fields mapped in `pulumi-terraform`. I'll open an issue there to track that, and leave this one open until upstream merges.

[2019-03-14 14:30] adaniline-traderev opened #501 "Policy not found with pulumi destory"
I have a chart that creates an IAM policy and deploys the KIAM helm chart.

After it was deploy, if I do `pulumi refresh`, it does not find any updates

After that when I do `pulumi destroy`, I get 404 error:

[code]

[code]

[2019-03-14 19:18] adaniline-traderev opened #502 "Error creating EIP tags"
[code]
Creating a vpc stack with EIP and nat gateway:

[code]
Got terraform error:
[code]

[2019-03-14 20:22] adaniline-traderev commented on #498
Allocation id is empty even after reading the EIP from AWS:

[code]
This really blocks us - we cannnot create a vpc with Pulumi

[2019-03-14 20:47] lukehoban commented on #498
Note that the `id` property should contain the allocation id - so this should not be blocking.

[2019-03-14 20:50] adaniline-traderev commented on #498
Yes, thank you, my issue was that I was not setting eip.vpc to true, I resolved it now

[2019-03-15 13:31] jen20 commented on #418
I think we can do this at the same time as updating to v2.1.0 of upstream.

[2019-03-19 15:47] timmyers commented on #498
Yeah, feel free to close this since there is a simple alternative.  Especially if the docs were potentially updated (though I'm sure those are probably auto-generated).

[2019-03-19 22:38] austin43 commented on #460
Is there support for resolvers at all? I've not seen a Pulumi method for it and am wondering if I'm missing something.

https://docs.aws.amazon.com/appsync/latest/APIReference/API_CreateResolver.html

[2019-03-20 23:58] #418 closed

[2019-03-26 20:31] #502 closed

[2019-03-29 06:34] woeps commented on #460
Yesterday resolver an schema fuctionality was merged into Terraform 2.4: https://github.com/terraform-providers/terraform-provider-aws/pull/6451
I hope it will land in Pulumi soon.

[2019-03-30 22:48] #441 closed

[2019-03-31 21:19] gobengo opened #511 "Changing pulumi name of aws.s3.Bucket with same bucket name fails because names must be unique and it tries create-before-delete"
I have only been using Pulumi for a few days, but so far so good.

I am setting up a fresh set of AWS resources with Route53, S3, and Cloudfront to set up a redirect from 'conserve.org' to 'www.conserve.org'.

As I iterate, these resources often get recreated. But some AWS Resources have uniqueness constraints. For example, s3 bucket names have to be unique, and what I'm doing requires that the s3

[2019-03-31 21:29] lukehoban commented on #511
If this was truly a replacement, you should be able to pass `deleteBeforeReplace: true` to allow this replacement to take affect. Note that this will result in a downtime where no bucket exists - but I assume that is okay in your case.

However, if I understand your case correctly, you have logically two distinct Pulumi resources, which are both tied to the same bucket name. The one you previously

[2019-03-31 22:49] austin43 commented on #460
@woeps thanks for the reply, looks like it was merged in to the pulumi provider today. https://github.com/pulumi/terraform-provider-aws

[2019-04-01 02:08] gobengo commented on #511
Thanks for the quick answer

Am I understanding this right to imply that if I ever want the engine to do delete-before-replace, I need to opt-in by passing deleteBeforeReplace?

Will there ever be a world where the pulumi client 'knows' about things like S3's name uniqueness constraint and automatically does deleteBeforeReplace without me (or a teammate) having to know these quirks of AWS? I would

[2019-04-01 02:08] #511 closed

[2019-04-08 09:54] jeshan opened #515 "Improve cloudfront error message"
I'm creating a cloudfront distribution and got the error "Missing required property restrictions".
It left me wondering what kind of _property restriction_ was being referred to.
It took me a while to realise that there's actually a property called _restrictions_ required by Distribution.
The error message could be improved with something like: "The restrictions property is required by Distributio

[2019-04-08 17:14] CyrusNajmabadi commented on #515
@swgillespie for the python issue.

@jeshan when you got this error, did you not get a error-stack printed that showed you were in the middle of creating a distribution?

[2019-04-08 17:35] lukehoban commented on #515
Sounds like the suggestion (which I like) is to just quote the property names in the Python error messages.

[2019-04-08 17:45] jeshan commented on #515
Correct, Luke.

Cyrus, here it is:

[code]

[2019-04-09 17:15] #515 closed

[2019-04-10 16:13] d-nishi commented on #501
@adaniline-traderev -- can you share the example IAM policy and the helm chart you are deploying. I will recreate the issue and revert back with my findings.

[2019-04-11 22:01] #498 closed

[2019-04-11 22:05] CyrusNajmabadi opened #520 "Expose suitable metrics as instance methods off their respective resources."
We expose many metrics off off the 'metrics' sub-module for many modules.  However, those metrics tend to be for the entirety of that AWS sub-system.  Many metrics supply  'dimensions' to allow you to suitably narrow down the result to some particular AWS resource.

In the cases where AWS does provide this, we should expose these metrics as instance methods on the resources themselves.

A non-exha

[2019-04-12 12:11] jen20 commented on #460
This was released in v0.18.1 of `pulumi-aws` - please feel free to reopen if you think something else is missing with respect to this feature!

[2019-04-12 12:11] #460 closed

[2019-04-13 16:46] lukehoban opened #538 "Update to v2.6.0 of terraform-provider-aws"
https://github.com/terraform-providers/terraform-provider-aws/blob/master/CHANGELOG.md#260-april-10-2019

[2019-04-15 16:29] lukehoban commented on #460
@jen20 Were the docs updated for that release?  I believe the feedback here is that these are not yet showing up in the docs.

[2019-04-18 16:39] #538 closed

[2019-05-06 19:59] ncsibra opened #553 "IgnoreChanges failes on a kubernetes tag"
I have a weird issue with ignoreChanges, there's a resource in a ComponentResource class:
[code]
if I change this to
[code]
and trying to update the stack, I got an error:
[code]
This resource has a tag, added by EKS, something like `kubernetes.io/cluster/dlv-sbx-cluster-eks-197239a: shared`, this tag not exist in pulumi code, because vpc created first, then EKS, so unable to add it from pulumi, b

[2019-05-09 14:56] melbourne2991 opened #555 "Target type "lambda" missing from LB target group types"
Target type "lambda" is a valid target type that is missing from `targetGroup.d.ts` :

[code]

Terraform reference:
https://www.terraform.io/docs/providers/aws/r/lb_target_group.html

[2019-05-09 19:18] jen20 commented on #479
Hi @robertbullen! Sorry for the delay in replying here. Is this still occurring with the latest versions (v0.18.3)? If so, do you have any more information about how you are using the `WebAcl` resource in your program to help diagnose?

[2019-05-10 21:36] eshamay commented on #252
I've just run into a strikingly similar issue.

I have the following setup:
[code]

[2019-05-14 20:15] BerndWessels commented on #461
Any updates on this?

It looks like Terraform has already support for it [here](https://github.com/terraform-providers/terraform-provider-aws/blob/master/vendor/github.com/aws/aws-sdk-go/service/appsync/api.go#L3768)

Urgently needed

[2019-05-14 20:35] BerndWessels opened #559 "[appsync] neglected for more than 6 month?"
According to [this](https://github.com/terraform-providers/terraform-provider-aws/blame/dc66b70d59c8c2fabd1dd35cc67aa3d44d8fde21/vendor/github.com/aws/aws-sdk-go/service/appsync/api.go#L3769) - terraform supports `relational_database` as an `appsync` `data source` for about half a year already.

- Why is `pulumi` not yet updated?
- Is this a sign that there is no more ongoing investment in `pulumi

[2019-05-14 20:41] lukehoban commented on #461
That link is to the AWS Go SDK (vendored into terraform-provider-aws).  Are you sure this feature is exposed through the Terraform provider currently? I so not see it in https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_appsync_datasource.go#L15.

[2019-05-14 20:43] lukehoban commented on #559
Please see https://github.com/pulumi/pulumi-aws/issues/461#issuecomment-492401459.

The `@pulumi/aws` package is up to date with v2.9.0 of the Terraform AWS provider.

[2019-05-14 22:01] BerndWessels commented on #461
@lukehoban I thought pulumi is using the terraform go sdk providers, doesn't it?

I am fighting an uphill battle in our enterprise against the proponents of the cloud formation based solutions, but its hard to argue when features are taking month and month to arrive, if at all.

I hope there will be some progress. Is there anyway to contribute to speed this up?

[2019-05-14 22:09] BerndWessels commented on #559
Closing in favor of #461

[2019-05-14 22:09] #559 closed

[2019-05-15 00:06] lukehoban commented on #461
The `@pulumi/aws` package builds on the `terraform-provider-aws` Terraform provider, which in turn builds on top of the AWS Go SDK.

The code you linked is code within the AWS Go SDK, which does have support for Aurora appsync databases.  That code is not yet called from anything in the Terraform AWS provider - which does not yet support these.  Once support is added to the Terraform AWS provider,

[2019-05-17 22:41] ellismg opened #567 "Terraform crash inside `diffWafXssMatchSetTuples`"
A customer observed the following crash while trying to do an update:

[code]

What is interesting here, for us, is the set of steps that they took before and after this doomed update.  They first ran `pulumi refresh`, which looks to have deleted all of the rules in the XSS Matchset, then did this update, when it failed they did `pulumi refresh` and that caused the XSS Matchset rules to come back!

[2019-05-17 22:42] ellismg commented on #567
I'm not sure what we can do about the underlying terraform crash, but the fact that `pulumi refresh` removed these rules, then this update failed in this way, and then `pulumi refresh` brought the rules back, is pretty interesting and might be something we can look into.

We can get more detailed logs if needed, I believe.

[2019-05-18 00:32] lukehoban commented on #553
@ncsibra I haven't been able to reproduce this yet - and I feel like there is a step in your repro I am missing.  Where is the `kubernetes` tag coming from?

If I deploy your first example, then manually add a tag, then refresh, then `pulumi preview --diff` I see:

[code]

If I then add `ignoreChanges: ["tags"]` as in your second example, I then see:

[code]

I feel like there is something unrelat

[2019-05-18 00:32] #553 closed

[2019-05-18 04:58] ncsibra commented on #553
The tag added by EKS, our stack does not have this tag for the vpc, and because the vpc has to be created first, then the EKS cluster, impossible to do that without a custom resource.
I assumed the problem caused by the more complex tag, containing "/" characters, etc, did you tried with the exact tag I wrote?

[2019-05-22 14:53] jen20 opened #572 "Display better diffs for JSON literal properties"
We could do a better job of displaying diffs in (for example) IAM policies which are JSON strings.

[code]

We could consider use of a JSON patch library to show the actual diff here instead of a complete string, if we have some way of marking that a property is a JSON object.

[2019-05-22 20:38] brandonbloom commented on #252
We use `AssumeRole` as well. I'd like to cast my vote for supporting the `aws:profile` configuration setting.

[2019-05-23 20:02] keen99 commented on #252
+1 for native role assumption for the CLI tools based on AWS_PROFILE, aws:profile, and other profile setting methods.  it's a significant blocker to not support that for any kind of modern multi account setup.

[2019-05-23 21:22] CyrusNajmabadi opened #574 "Updating the tags of an RDS instance is causing a replace to happen (which then fails)."
Reported by @jasonhedges.  They have an RDS db instance.  During a minor change to their program (to just add tags to the instance) they encountered the following behavior.

Investigating this, it was determined that pulumi wants to do a replace here because the `storageEncrypted` value changed on the instance.

When manual refreshes were performed, pulumi completed successfully, with no change to

[2019-05-23 21:22] CyrusNajmabadi commented on #574
Tagging @ellismg @pgavlin .  The UI issue aside, this seems aws provider related.

[2019-05-23 23:00] CyrusNajmabadi commented on #209
I thnk we're actually ok here.  We now have the behavior, by default, that we won't include `@pulumi` packages (or their dependencies).  That trims down things a lot and makes it much more likely that the set of modules included are the ones that the user needs themselves.

We've also made it possible for those packages to include a specific `pulumi: { runtimeDependencies: { ... } }` section.  Thi

[2019-05-23 23:00] #209 closed

[2019-05-23 23:42] lukehoban commented on #574
I'm guessing that (1) is https://github.com/pulumi/pulumi/issues/2453.

[2019-05-24 00:01] pgavlin commented on #574
That was my guess as well.

[2019-05-24 00:29] lukehoban commented on #574
And (3) appears to be the same issue we've seen many times with Terraform providers where they set a property inside `Read` but without it being marked `Computed`.  This leads to these unexpected replacements in both Pulumi and Terraform.

In this case:

https://github.com/terraform-providers/terraform-provider-aws/blob/ba65a491cf896fb962e8e82b71cbd1a9e5e0ec4c/aws/resource_aws_db_instance.go#L90-L

[2019-05-24 14:42] stack72 commented on #574
@lukehoban do we want to update our own fork here and then send it back upstread?

[2019-05-24 15:18] stack72 commented on #469
@jen20 I am going to close this out - it looks like it's correct now - ping me if not

[2019-05-24 15:18] #469 closed

[2019-05-24 15:35] stack72 commented on #396
@CyrusNajmabadi I think we can close this out - 0.12 was released so we should be good

[2019-05-24 17:29] lukehoban commented on #574
I would love to have a repro for this.

I tried starting with this:

[code]

And then doing `pulumi up`, `pulumi refresh`, uncomment the tags, `pulumi up`.  At no stage did I see a replacement.

[2019-05-24 17:50] lukehoban commented on #574
Possibly - though I'd love to be able to reproduce to make sure what I noted above is correct.  (And to add tests to the upstream Terraform provider as part of fixing this).

[2019-05-27 12:17] stack72 commented on #574
Hi @lukehoban

Ok, IMO there is no error here. I started with the same config as above:

[code]

Then I was able to run `pulumi up`

[code]

I then changed some tags in the AWS console and ran `pulumi refresh`:

[code]

I then changed the config for the database to be completely new tags - from those in the console AND in the current code and ran `pulumi up`:

[code]

There is absolutely no operat

[2019-05-28 07:38] stack72 commented on #422
Hi @akoenig

Firstly, I must apology for us being so tardy in the reply here - we will try and ensure this doesn't happen anymore.

So, on inspection of this, I see from the AWS SDK the following:

[code]

As you can see, the AWS SDK directly suggests that it is required - this is why this has made it's way down into Pulumi SDKs as required

I am not quite sure why this is the case from the docume

[2019-05-28 07:42] stack72 commented on #419
@jen20 do we want to add this to the provider or into awsx? or both?

[2019-05-28 07:43] stack72 commented on #396
ok, this definitely doesn't break us - I have been using pulumi this weekend on the latest providers built after 0.12

going to close this out for now - please reopen if we need to

[2019-05-28 07:43] #396 closed

[2019-05-28 08:20] #423 closed

[2019-05-29 15:55] jen20 opened #577 "Add constants for security group protocols"
It would be nice to provide constants for the protocol field on security group rules. A list is available here: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupIngress.html

[2019-05-29 15:56] jen20 opened #578 "Add constants for RDS engine names and engine modes"
It would be nice to provide constants for RDS cluster engine names and engine names - lists of valid values are available here:

https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBCluster.html

[2019-05-29 16:08] lukehoban commented on #578
FWIW - I would still *love* to find a way to auto generate these if possible from published API specifications.  Even if some manual mapping is required - being able to automatically stay up-to-date and to automatically identify when new enums are added that should be mapped would be invaluable relative to incrementally adding these manually one-by-one.

[2019-05-30 02:03] mi5guided commented on #252
the above changes work for profiles that either assume role or have access keys defined.  I have not been able to do a thorough testing of the change, since I can't get the build to finish all the way through.  Any hints on how the environment should be set up is appreciated. For example, should `pulumi-aws` be in the `pulumi` directory?  And, if so, what is the command to make just `pulumi-aws`?

[2019-06-03 15:37] stack72 commented on #422
Hi @akoenig

I am going to close this out for now - if you feel that we need to investigate this more, then please do comment and we can talk further

Thanks for raising the issue

Paul

[2019-06-03 15:37] #422 closed

[2019-06-05 08:35] stack72 commented on #363
@pgavlin I’m not sure this is still a problem - I reckon we can close this and then act again if it reappears

Thoughts?

[2019-06-05 13:45] #363 closed

[2019-06-05 14:36] stack72 commented on #567
@ellismg do we have a config that we can try and recreate this with? This seems strange...

[2019-06-05 14:49] stack72 commented on #461
Hi @BerndWessels,

As this is not available in the upstream terraform provider, I just opened an issue in that repository that we will use to track the progression of this work.

Once that has been implemented upstream, then Pulumi will be able to take advantage of this. I am going to close this issue out as a duplicate of the upstream issue. Please feel free to +1 that issue :)

https://github.co

[2019-06-05 14:49] #461 closed

[2019-06-05 15:54] stack72 commented on #432
Hi @cristi-,

Firstly, my apologies that we have not gotten back to you on this bug. This is an area we are trying to improve on going forward.

Secondly, this actually seems to be a bug in our pulumi-terraform library. Therefore, I am going to close this out as a duplicate and we will be able to follow along with the upstream bug that is linked.

Please make any comments in the upstream library i

[2019-06-05 15:54] #432 closed

[2019-06-05 17:49] pgavlin commented on #363
SGTM

[2019-06-05 18:19] stack72 commented on #476
Hi @rswail

Firstly, I must apologise for the lack of interaction on this issue in a very long time. This is an area we are striving to get better at and will control to work these issues out.

Secondly, in order to try and reproduce this issue, please can you provide us with a minimal configuration that allows us to work out where the error may be coming from?

Thanks again

Paul

[2019-06-05 21:44] lukehoban opened #583 "`policy` property of `aws.iam.Policy` should accept `PolicyDocument`"
We type almost all other places where policy documents are allows as `string | PolicyDocument`.  It looks like we do not do this for `aws.iam.Policy#policy`.

[2019-06-05 22:29] josb opened #584 "`pulumi up` is not supporting MFA tokens"
Looks like there's no support for MFA tokens:
[code]
This is with the following AWS cli config:
[code]
I think this is because `awsbase.GetCredentials` (https://github.com/hashicorp/aws-sdk-go-base/blob/master/awsauth.go#L154) isn't using `AssumeRoleTokenProvider` as a session option.

[2019-06-05 22:35] ellismg commented on #567
We, unfortunately, do not have a ready made program that exhibits this issue.  We do have some logs from the customer which may be helpful, I will share them with you privately.

[2019-06-05 22:55] lukehoban commented on #584
This sounds like it might be https://github.com/terraform-providers/terraform-provider-aws/issues/5592.

[2019-06-05 23:00] lukehoban commented on #584
BTW - I have seen several teams use tools like https://github.com/remind101/assume-role in order to assume a role (including an MFA-requiring role) as a separate step from the invocation of `pulumi`, which can be a workaround for issues like this if needed.

[2019-06-06 00:12] josb commented on #584
I had to apply https://github.com/remind101/assume-role/pull/38 and thus build from source to make this work, but with that, `assume-role dev pulumi up` worked. Still, it's only a workaround and it makes it more difficult to advocate for Pulumi.

[2019-06-06 10:38] stack72 commented on #479
Hi @robertbullen,

I am going to close this out - it's been idle for a while now. If you are still having the same issue, please do recomment on the issue and we can reopen it

Thanks again

Paul

[2019-06-06 10:38] #479 closed

[2019-06-06 12:30] maver1ck opened #587 "Can't install pulumi_aws on Windows"
I'm getting following error when trying to install pulumi_aws package on windows.
[code]

[2019-06-06 13:02] lukehoban commented on #587
Could you share what python version you are using?

[2019-06-06 13:24] lukehoban commented on #584
Completely agreed.

[2019-06-06 13:35] maver1ck commented on #587
Python 3.7.3

[2019-06-06 17:46] ellismg opened #588 "Intermittent failures when removing `BucketNotification`s"
We observed the following failure when running our integration tests on examples:

[code]

In this case, we simply spin up the program (which creates a bucket notification) and then immediately destroy it.  I can imagine that the lack of time between these two operations could lead to the above.  I suspect the upstream provider should be tolerant to these issues.

Per the [S3 Error Response docume

[2019-06-06 19:19] kennyjwilli opened #589 "Changing aws.rds.Instance identifier results in replacement"
If I change the `identifier` of a `aws.rds.Instance`, Pulumi thinks it needs to replace the instance. This property is actually able to be changed in place.

[2019-06-06 19:37] kennyjwilli commented on #589
@stack72

[2019-06-06 20:13] ellismg commented on #589
FWIW, this property is listed as `ForceNew` in the upstream provider.  This matches what [CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-rds-database-instance.html) says for the `DBInstanceProvider`.

[2019-06-06 20:40] kennyjwilli commented on #589
Slack discussion: https://pulumi-community.slack.com/archives/C84L4E3N1/p1559848211149300. Changing this property is possible through the AWS console.

[2019-06-06 21:20] ellismg commented on #587
I suspect the problem here is that in our `setup.py` we are not passing `utf-8` as the encoding to uuse when `open`ing the `README.rst` file, which means Python will determine what encoding to use based on user preferences.  In this case, it appears that we end up using `CP-1250` (not surprising, given that windows defaults to these sorts of encodings instead of utf-8) and then things go off the r

[2019-06-07 11:24] stack72 commented on #589
Ok, @kennyjwilli, I have spent the morning looking at how we can do this - it *is* possible but we would need to come up with a way of doing it in the Terraform provider upstream. Basically, we pass the current identifier and `NewDBInstanceIdentifier` to the Modify operation and it will rename it as expected

The trouble we have is, Terraform actually use the DBInstanceIdentifier as the resource I

[2019-06-07 19:31] lorecrafting opened #591 "LambdaLayer doesn't accept src code folder."
Currently LambdaLayers only accepts a pointer to a .zip file deployment package through the filename property.  It would be nice to have a 'code' property just like normal Lambdas so that it can point an unzipped source folder for easier development.

[2019-06-08 20:32] jen20 opened #592 "Add constants for RDS instance classes"
It would be nice to have an enumeration of valid RDS instance types such that we avoid magic strings in various places.

[2019-06-09 17:02] jen20 opened #593 "Add constants for ELBv2 address types"
It looks like we can provide a string for `ipv4` vs `dualstack` loadbalancers - we should provide constants here to improve auto-completion.

[2019-06-10 12:36] stack72 commented on #591
@lukehoban this is currently not supported functionality in the AWS SDK. The SDK input struct looks as follows:

[code]

Do you think we can handle this a different way - i.e. have a process that will zip a folder?

[2019-06-10 13:22] stack72 commented on #578
There is no direct API for getting these right now - but I agree that we will need to do that soon...

[2019-06-10 14:00] lukehoban commented on #591
We want to do the same thing we do for `aws.lambda.Function`:

https://github.com/pulumi/pulumi-aws/blob/d49496d31e846e5c06d79b3d2b17d579b6350dc8/resources.go#L1270-L1289

Presumably just:

[code]

[2019-06-10 16:19] #578 closed

[2019-06-10 16:31] stack72 commented on #591
@lukehoban ooohhhhh ok, I can try and put a reproduction together and try this!

[2019-06-10 21:38] stack72 commented on #567
Ok, I have been trying to recreate this and cannot. I started with the following config:

[code]

I ran `pulumi up` and it worked as expected:

[code]

The next thing I did was to remove all of the matchTuples from the AWS console and run `pulumi refresh`:

[code]

I ran `pulumi up --yes` again to readd the rules:

[code]

I then changed the config to be as follows so that I could trigger a real r

[2019-06-10 21:38] #567 closed

[2019-06-10 23:08] #577 closed

[2019-06-10 23:36] #593 closed

[2019-06-11 14:18] stack72 commented on #574
ok @lukehoban, I am going to close this out - we can't actually reproduce this with respect to tags changing - this means that a different part of their application stack changed and pulumi was reacting to this

If you have any objections to this being closed - then let me know and we can definitely discuss this further

[2019-06-11 14:54] jasonhedges commented on #574
The problem I experienced was not on tagging a master RDS instance but on tagging a read replica.

[2019-06-11 15:29] stack72 commented on #574
Hi @jasonhedges

Thank  you for that information - this is new to me I'm afraid so I apologise for not testing that earlier. I will reopen it now

Paul

[2019-06-11 16:39] stack72 commented on #476
Hi @rswail

Sorry again for the lack of response the first time around. I haven't heard back from you regarding a reproduction so I am going to close this out. If you feel that this needs to reopen, please do see if you can help me reproduce it and I will look into it for you

Thanks again

Paul

[2019-06-11 16:39] #476 closed

[2019-06-11 16:46] stack72 commented on #588
Hi @ellismg

Is this still an issue?

Paul

[2019-06-11 16:51] lukehoban commented on #588
Did we disable that test in the examples repo due to this?

[2019-06-11 16:53] ellismg commented on #588
We did not disable the test.  I assume this is still an issue but I have not looked at the upstream Terraform provider to see if there have been any changes recently in this area.

[2019-06-11 18:56] jasonhedges commented on #574
This issue was originally raised in a Slack discussion and tags on master instances vs read replicas was really the main point of that discussion. Unfortunately, it looks like that did not make it into this ticket.

We may need another bug ticket for this but there seem to be other buggy things with read replicas as well. For example, after creating a simple instance with a read replica instance,

[2019-06-11 20:22] stack72 commented on #574
ok, I'm really happy with how this has turned out today - I just spoke to @jasonhedges and we have code that we can use to reproduce this! We will get to the bottom of this :) Thanks again for your @jasonhedges

[2019-06-11 22:05] jasonhedges commented on #574
Sure thing - thank you for taking time for a phone call and thank you all for working so hard to resolve this. It is very much appreciated!

[2019-06-13 14:46] stack72 commented on #218
@joeduffy / @jen20 / @lukehoban is this issue still needed to be kept open? I am not sure what we need to do here?

[2019-06-13 15:03] lukehoban commented on #218
I think we can close.

[2019-06-13 15:03] #218 closed

[2019-06-13 15:40] #583 closed

[2019-06-13 16:12] #458 closed

[2019-06-13 21:08] lukehoban commented on #2
I'm going to close this out - we've done a lot of work in and around this - and we'll continue to do more.  But we have no near-term plan to do anything radically different in a structured way.  And we broadly are adding these as incremental additions that preserve compatibility.

[2019-06-13 21:08] #2 closed

[2019-06-13 21:10] lukehoban commented on #113
@stack72 @jen20 Thoughts on this?  If it's a good idea - how would we do it?  I assume it wold need to be an opt-in flag?

[2019-06-14 15:02] stack72 commented on #574
So I was able to recreate this and find out that the documentation around read_replicas is just terrible, both here, and in terraform. The following config works:

[code]

That creates the correct read replica. It also stops us being able to get spurious diffs. We can improve the documentation in the area greatly to help our users.

[2019-06-14 16:02] jen20 commented on #113
If we're going to do this, I think we should make it a provider-level opt-in via configuration. It seems like doing it in the TF bridge should be straightforward enough apart from that.

[2019-06-15 20:38] joeduffy commented on #587
This also happens on Linux. Bumping priority.

[2019-06-16 08:55] ncsibra opened #605 "Continuous refresh/replace cycle with ec2.Instance+ebs volume"
Hi,

After a refresh to a stack with an ec2 instance, and an ebs volume (without ebsBlockDevices on the instance), pulumi wants to replace the instance, then again after the next refresh, basically stuck in a cycle.

Versions:
[code]

Steps to reproduce:
1. Download the sample repo: https://gitlab.com/proemergotech-public/pulumi-sandbox/tree/volume
2. `yarn install` from the root
3. cd dliver-sand

[2019-06-16 17:05] lukehoban commented on #605
If you are able to provide the output of `pulumi up —logtostderr -v=9 2> out.txt`, or at least the lines containing `replaces=` from that output - that would be helpful to diagnose further.

[2019-06-16 17:50] ncsibra commented on #605
Sure, here's the logs.
[refresh_update.tar.gz](https://github.com/pulumi/pulumi-aws/files/3294394/refresh_update.tar.gz)

[2019-06-18 03:30] lukehoban commented on #587
In a fresh `docker un -it ubuntu bash` I get a similar, but not identical, error:

[code]

[2019-06-18 07:35] ncsibra opened #609 "Update and refresh handle complex tags differently"
Hi,

Adding a tag with special characters to resources, like `"kubernetes.io/cluster/test": "shared"` saved differently in the stack when running update and refresh, which means an update after a refresh will always update these tags. Plus some of the resources may fail when trying to update, e.g. `aws.efs.FileSystem`
Update adds this way:
[code]
Refresh changes to this:
[code]

Versions:
[code]

[2019-06-18 13:03] stack72 opened #610 "Update Lambda Runtime Constants"
We need to deprecate the old runtime constants and then be able to add the new ones so we allow people to move forward

https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html

[2019-06-18 13:09] clstokes commented on #609
Seems related to https://github.com/pulumi/pulumi-eks/issues/152.

[2019-06-18 14:03] ncsibra commented on #609
Yeah, looks the same, except here the FileSystem throw an error the second time.

[2019-06-18 17:56] ellismg commented on #587
This should be fixed with the 0.18.11 release of `pulumi_aws`.  I verified that it fixed @lukehoban's case above.  Note that the install continues to fail if you don't have `pulumi` on your path, because the setup scripts try to run `pulumi plugin install` unconditionally.  I opened https://github.com/pulumi/pulumi-terraform/issues/392 to track that.

[2019-06-18 17:56] #587 closed

[2019-06-19 12:21] stack72 commented on #353
@jen20 I am going to close this - [this](https://blog.pulumi.com/aws-cloudwatch-made-easy-with-pulumi-infrastructure-as-code) shows that there was work added for awsx for this - do you think that this suffices? If not, let's reopen it

[2019-06-19 12:21] #353 closed

[2019-06-19 12:23] stack72 commented on #472
@ellismg looks like this is no longer the case:

[code]

I am going to close this out - if this is still an issue, let's reopen it

Paul

[2019-06-19 12:23] #472 closed

[2019-06-19 16:04] #610 closed

[2019-06-20 07:39] #592 closed

[2019-06-20 10:05] stack72 commented on #574
@jasonhedges I believe what we spoke about allows us to mark this as resolved now - I'm confident that you won't face any more issues with this specific resource

Please comment and we can open it back up if so

Paul

[2019-06-20 10:05] #574 closed

[2019-06-21 03:08] RoKondo opened #635 "Manually deleted resouce fails all pulumi action"
A manually deleted resource, locked my whole stack
`pulumi refresh `
output
[code]
with -d
[code]
the problem seems to be that even though there is no network ACL pulumi tries to discover the ACL rule is there any workaround to dereference this resource or make Pulumi understand that this resource was deleted?

[2019-06-24 13:56] nesl247 opened #627 "elasticsearch.DomainPolicy does not accept `pulumi.output()`"
The elasticsearch `DomainPolicy` resource does not accept `pulumi.output(...)` as the value.

[code]

[2019-06-24 15:25] lukehoban commented on #627
I believe you need to use `pulumi.interpolate` here to build the resource ARN.

[code]

[2019-06-24 15:28] lukehoban commented on #627
BTW - what error did you get when you tried the original code above?  With recent Pulumi libraries, I would have expected you would get an informative error message suggesting that you needed to make this change.

[2019-06-24 16:23] lukehoban commented on #627
I'm going to close this out - as I don't believe there is any Pulumi issue here - and I believe the approach above will work here.  But would be interested in more details on error messages in case there is something further we can do to guide users in the right direction here.

[2019-06-24 16:23] #627 closed

[2019-06-24 21:09] stack72 commented on #499
Hi @tcondit

Firstly, I need to apologise for the lack of communication here. This is something we are trying to get better at and will continue to improve in the area

Secondly, I have been looking at this issue today. Basically, to paraphrase, I believe the steps are as follows:

* Try a `pulumi up` when the S3 bucket resource has invalid tags
* Get the error as posted
* Remove the tags from the

[2019-06-25 14:15] nesl247 commented on #627
![image](https://user-images.githubusercontent.com/1037526/60105786-00daa980-9732-11e9-8c6e-49bcd002ba69.png)

This is the error given by the IDE. I am using the latest versions of pulumi as of this morning. This is with and without `pulumi.interpolate` as you have mentioned.

[2019-06-26 11:14] mikhailshilkov opened #631 "`policy` property of `aws.ecr.RepositoryPolicy` should accept `PolicyDocument`"
We type almost all other places where policy documents are allows as `string | PolicyDocument`. It looks like we do not do this for `aws.ecr.RepositoryPolicy#policy`.

[2019-06-26 11:35] stack72 commented on #501
Hi @adaniline-traderev

We haven't heard back from you on this issue, therefore I am going to close this out for now. If you are still having the same issue, please do comment and we can reopen it

Thanks

Paul

[2019-06-26 11:35] #501 closed

[2019-06-26 11:36] mikhailshilkov opened #633 "`policy` property of `aws.ecr.LifecyclePolicy` should be strongly typed"
We try to type policy documents as `string | PolicyDocument`. It looks like we do not do this for `aws.ecr.LifecyclePolicy#policy`.

Note that this has a different structure than `aws.iam.PolicyDocument` and would require a new Policy type.

I am not sure how many of other similar types would need to be created throughout the AWS provider. I picked this one from [this example](https://github.com/p

[2019-06-26 12:45] stack72 commented on #605
Hi @ncsibra

My apologies for this issue. I have been able to replicate it perfectly and remember it well. The issue is that you are using an EBS volume (via rootBlockDevice which is a BlockDevice under the hood according to AWS) as part of the Instance **AND** an additional EBS Volume. This is something that cannot be supported:

[code]

Unfortunately, there is no way to counter the continual dri

[2019-06-26 13:03] stack72 commented on #609
Hi @ncsibra

We deployed a fix for this in 0.18.14, 2 days ago. Please can you try this and let me know if the issue is still happening for you?

Thanks

Paul

[2019-06-26 13:10] ncsibra commented on #605
I saw this comment, but it says `ebs_block_device`, not `root_block_device` and `Terraform will assume management over the full set of non-root EBS block devices for the instance` suggest that it only a problem with `ebs_block_device`, are you sure that's the case here too?

[2019-06-26 13:22] stack72 commented on #605
mmmhhhhh so it should be the case - but I can dig in further! Thanks for bearing with me on this one!

[2019-06-26 13:29] ncsibra commented on #609
Hi @stack72, looks like it's fixed, thanks!

[2019-06-26 13:32] stack72 commented on #609
Wonderful news! Thanks to @pgavlin for fixing that in `pulumi-terraform`

[2019-06-26 13:32] #609 closed

[2019-06-26 13:47] #631 closed

[2019-06-26 15:56] stack72 commented on #588
ok, nothing has changed upstream here for a retry of removing the bucket notifications. I think we need to raise a bug up there as it's 100% an upstream issue.

Thoughts?

[2019-06-26 16:44] #591 closed

[2019-06-26 17:01] CyrusNajmabadi commented on #520
This has been completed to our desired level.

[2019-06-26 17:01] #520 closed

[2019-06-26 22:10] Ilchuk-Mihail opened #634 "Route53 - failing to transition from one state to another"
I have Fargate  service and try to create alias from Route53 to elastic load balancer.
I have this code :

[code]

This code works but if I change only name `webDnsRecord` I have this error :
[code]
So I guess it works incorrectly because of failing to transition from one state to another.

Steps to reproduce:
1) Create route53 record
2) Change  record name
3) Error

[2019-06-26 22:42] ellismg commented on #588
@stack72 I think that is correct.  Looking at their provider it does not seem to handle this error message, but I believe they could detect it and return resource.RetryableError here and everything would just work.  This is likely a problem for both Delete and Update.

[2019-06-26 23:16] ellismg commented on #635
I suspect a problem here is that the entries live inside the rule itself, which was deleted (and refresh saw).  I think it would be sufficient to catch the case in the provider where the actual ACL itself had been deleted and mark the rules themselves as deleted. /cc @stack72 @pgavlin (Pat, this may be interesting to you because we have two seperate resources from Pulumi's point of view but they a

[2019-06-30 20:12] astronouth7303 opened #637 "Cannot override bucket name"
I'm attempting to write some pulumi code to manage an [S3-based website](https://medium.com/@kyle.galbraith/how-to-host-a-website-on-s3-without-getting-lost-in-the-sea-e2b82aa6cd38).

For this to work, you must be able to specify a bucket name exactly. This doesn't seem to be happening, though?

[code]

Is producing bucket names like `dingbots.dev-6fe3d77`, and it's not clear how to override this.

[2019-06-30 23:58] lukehoban commented on #637
I believe that passing `bucket=domain` instead of `__name__=domain` should accomplish what you want here.

[2019-07-01 15:59] astronouth7303 commented on #637
What is `__name__` supposed to be, anyways?

[2019-07-01 16:03] astronouth7303 commented on #637
Yes, that did it.

[2019-07-02 13:08] stack72 commented on #588
Ok, I've been monitoring the test runs of these examples. This isn't flakey anymore - I am going to close this out for now and then we can revisit this if this is a problem again later

[2019-07-02 13:08] #588 closed

[2019-07-02 19:17] #637 closed

[2019-07-03 13:08] jchannon opened #639 "aws.ec2.getSubnetIds should return type"
When calling `const subnetsids = pulumi.output( aws.ec2.getSubnetIds({vpcId: primaryVpcId,}));` it would be helpful if the `ids` property contained the type of subnet it is eg/public,private,isolated

[2019-07-03 15:55] lukehoban commented on #639
These concepts of public, private and isolated are things that are not well defined at the pure AWS layer, and are instead part of the awsx abstraction around VPCs.

I can imagine we might be able to add helpers to introspect an AWS subnet and determine which of thesr it was, but that would be in awsx helpers.

I’ll move this to that repo.

[2019-07-04 01:40] lukehoban opened #641 "Failure deleting aws.ssm.Document"
After creating an `aws.ssm.Document`, attempting to destroy it leads to this:

`error: Plan apply failed: unexpected null property parameter[0]`

This appears to ultimately be due to this:

https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_ssm_document.go#L282

It’s not clear whether this is a bug in the provider, or a bug in the Pulumi Terraform bridge, or

[2019-07-04 09:55] armenr opened #642 "Questions about Naming & Possible Resource Replacement Bug"
## Code Example:

const myDNSZone = new aws.route53.Zone('redactedDomain.me', {
  comment: 'My primary DNS Zone',
});

## What it builds:
[code]

## My Question:
What's with the `-5fff4ae`?

Will this actually break DNS, or is it okay to have strings like this in the name, anyway? Couldn't find an answer so I figured I's ask.

[2019-07-04 09:59] stack72 commented on #642
Hi @armenr

So, by default, Pulumi actually randomizes the resource that you are trying to use. What you can do in this case, is to actually specify a real name as follows:

[code]

That should give you the behaviour you are expecting - please try this and see how you do

Paul

[2019-07-04 10:05] stack72 commented on #635
Hi @StarKitty

Please could you provide a small sample of code that I can use to recreate this? I want to try and figure out if this is a bug in Pulumi or upstream

Thanks

Paul

[2019-07-04 10:15] armenr commented on #642
Excellent!! Thank you Paul! This worked! :)

Not to sound like a dick, but the documentation/examples didn't make that easy to understand, although I should have absolutely tested more deeply and exampled the Opts/Args the Class takes.

Additionally, I'm struggling to understand how to create an MX record. Generally, MX records.

[code]

## Output:

[code]

I'm guessing that first string param we'

[2019-07-04 10:19] armenr commented on #642
Your last post also helped me demystify the SAME 'random-string' assignment problem I was having with my Application LoadBalancer. THANK YOU!

Again, not to sound like a dick, but if the documentation/examples made the user aware/cautious of this random-string-assignment tendency, that would be really really helpful. :)

[2019-07-04 10:29] armenr commented on #642
Additionally, we may have to change the scope of this Issue, as this I've now run into a different bug. I am not sure, but would this specific issue I'm about to share be solved with a "CreateBeforeDestroy" parameter?

[code]

[2019-07-04 10:29] stack72 commented on #642
Hi @armenr

Glad this is working better for you. I understand the frustration here - I will raise it internally and see what we need to do to be better here.

So for the MX records, you still need to provide a name to the struct otherwise pulumi won't be able to store the resource. So you app could look as follows:

[code]

That will create the correct r53 request to AWS for you

[2019-07-04 10:37] armenr commented on #642
^^ thank you!

I did go back and find this: https://www.pulumi.com/docs/reference/programming-model/#autonaming

But it's a bit...hidden. I guess I am a dick :)

[2019-07-04 10:46] stack72 commented on #642
haha you are not! We should make it much more clear!

All sorted? OR you still having an issue?

P.

[2019-07-04 10:50] armenr commented on #642
@stack72 - My LAST question is this:

I've got my ALB resource looking like this:
[code]
For the record, the `nameFactory` function is a simple and naive function that accepts a resourceName string, and prepends my deploy stage string to my named resources - e.g. `dev-loadbalancer` or `prod-loadbalancer`

When I attempt to pass in a third options object with `{ deleteBeforeReplace: true }` I get t

[2019-07-04 10:58] stack72 commented on #642
@armenr there is actually no way to pass `deleteBeforeReplace` to those providers. the opts arg is `ComponentResourceOptions` which extends `ResourceOptions`

ResourceOptions has the following:

[code]

[2019-07-04 11:01] armenr commented on #642
Ah, I see.

In that case, would the behavior or "renaming" the the existing ALB resource and having it crash out on us be considered a bug?

Else, how would I go about enforcing that kind of constraint on the resource to prevent updates from breaking halfway.

[2019-07-04 11:03] stack72 commented on #642
Can you give me a little code I can try to recreate this? I can have a look at this and see if it's a breakage

[2019-07-04 11:53] armenr commented on #642
Here's the code! REALLY appreciate your assistance on this! Thank you!

## vpc.ts
[code]

## index.ts (I know, it's not modularized or EVEN sophisticated yet)
[code]

So, the way I hit the bug was the following:

The ALB had been created, but without the "name:" property inside the config object.
When I added the "name" property to the config object, it said..."I gotta replace this dude."
I was li

[2019-07-04 12:23] armenr commented on #642
Not to spam you, but I think this might actually help.

Just as a ham-fisted experiment, I attempted to rename my VPC. It threw again - same error - specifically on the TargetGroup resource, again. This looks endemic to TargetGroup resources.

## Plan:
[code]

## Output and Error:
[code]

[2019-07-04 12:27] armenr commented on #642
^^ This was probably a bad experiment. The entire infra state is now broken. A pulumi destroy on the entirety of the infrastructure is now hung on:

[code]

[2019-07-05 13:46] armenr opened #644 "Suggestion - Nomenclature of Properties on Listener Resources"
I was building out my infra, and I want to set up two listeners to attach to my LoadBalancer.

I want to set up 1 ALB listener that listens on HTTP and redirects to SSL, never ever transporting traffic along to the EC2s behind it.

I want to set up my SSL listener to receive HTTPS requests, and then transport those to the back-end servers, but to port 80 of the backend EC2s.

In the listener param

[2019-07-05 14:15] #644 closed

[2019-07-05 14:16] armenr commented on #644
Marked: "OP is an idiot"

[2019-07-05 23:22] tcondit commented on #499
Hi @stack72,

No, I didn't remove the invalid tag, but just ran `pulumi update` a second time. I expected a second `**creating failed**` but instead got a bucket without the invalid tag.

The same command produced different results when run twice in a row.

Tim

[2019-07-06 20:38] StarKitty commented on #635
Hi @stack72 ,

Sure the code is at [my repo](https://github.com/StarKitty/stunning-octo-robot), in advance if the code looks weird is my first take on Pulumi and Python.

Steps to reproduce:
* raise the stack aws-vpc `git clone git@github.com:StarKitty/stunning-octo-robot.git cd stunning-octo-robot/aws-vpc && pulumi up`
* go to the panel and manually delete the Network ACL created by this stack
*

[2019-07-08 15:01] clstokes opened #646 "Dynamodb Table onEvent not providing event source arn"
When trying to attach a lambda function to a dynamodb table using the `onEvent` helper method, my Pulumi application fails with `Value '' at 'eventSourceArn' failed to satisfy constraint`.

Shouldn't the `eventSourceArn` be provided automatically by Pulumi?

#### Code
[code]

#### Error output
[code]

[2019-07-09 15:18] clstokes opened #649 "aws.ssm.Document - Unable to update or destroy"
Attempting to update or destroy an `aws.ssm.Document` results in an error with seemingly no workaround.

#### Code
[code]

#### Output
[code]

The equivalent in Terraform destroys successfully - https://gist.github.com/clstokes/d6996a1e7b29817b6dbbf029362c0e3e.

[2019-07-09 19:20] jdecarvalho opened #651 "Invalid resource configuration for SSM Document"
Hello,

When creating a new AWS SSM Document using the following code:

[code]

an invalid resource configuration is created in Pulumi.com:

[code]

This causes any further `update` or `destroy` operations on this resource to throw the following error:

[code]

I tried to set an empty `parameters` attribute on the resource, as per https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/ssm/#Do

[2019-07-09 19:34] clstokes opened #650 "Expected diff to not require deletion or replacement during Update"
An `up` failed because my network dropped and now I get the error below for each subsequent `up`. I'm guessing the `transport is closing` errors in the second (and subsequent) `up` are unrelated and due to the panic. As best I could tell I had no way to recover from this so my "fix" was to `destroy` and start over.

Full output is at https://gist.github.com/clstokes/5fe7ac60115f9108ccbe3f5f0a70d43

[2019-07-09 19:34] ellismg commented on #651
@stack72 could you please take a look?

[2019-07-09 19:44] clstokes commented on #651
Related to #649 .

[2019-07-09 19:47] stack72 commented on #641
Closing this in favour of #649

[2019-07-09 19:47] #641 closed

[2019-07-09 21:46] pgavlin commented on #650
It turns out that this is essentially a bug in the engine:
- The failure to create turns into a partial failure that is recorded in the checkpoint file
- When the engine sees a partial failure, it decides it needs to update the failed resource without consulting the provider
- The TF provider gets the update call, computes the diff, and decides it needs to replace the resource, thus causing the pa

[2019-07-11 11:32] stack72 commented on #649
@clstokes I have pushed a fix for this [upstream](). It will allow me to do the following:

[code]

I am going to ask friends at HC for a favour in getting this merged :)

[2019-07-11 11:35] stack72 commented on #651
Hi @jdecarvalho

So I just found the cause of this bug and pushed a PR upstream - https://github.com/terraform-providers/terraform-provider-aws/pull/9309

I am going to ask the very friendly people at Terraform if they would merge this and get it included in their next release

I will update this issue to tell you when to upgrade your version of the provider

Apologies for the problem

[2019-07-11 12:00] stack72 commented on #646
@CyrusNajmabadi this might be of interest to you - I believe you wrote these functions - I'm not sure if the Terraform interface has changed since then. I have confirmed the same behaviour as @clstokes

[2019-07-11 17:59] CyrusNajmabadi commented on #646
Investigating.

[2019-07-11 18:23] CyrusNajmabadi commented on #646
This is weird.  we have a test for this exact scenario.  investigating further.

[2019-07-11 18:31] CyrusNajmabadi commented on #646
More weird.  Our existing test (which looks practically the same) doesn't triger this.  but the above code does...

[2019-07-11 18:35] CyrusNajmabadi commented on #646
I see the problem. You need to set the values of:

[code]

on your table in order to hear about events.  I will both doc this and add more explicit checks to help this be clearer in the future.

[2019-07-11 18:46] clstokes commented on #646
Confirmed this fixed it for me. Thanks!

[2019-07-11 18:59] CyrusNajmabadi commented on #646
Fix available here: https://github.com/pulumi/pulumi-aws/pull/654

[2019-07-11 19:33] pgavlin commented on #465
Smells relates to this bug: https://github.com/pulumi/pulumi-terraform/issues/262

[2019-07-11 19:47] #646 closed

[2019-07-17 13:25] aydrian opened #844 "Broken link on aws.lambda.CallbackFunction doc"
The [documentation for `aws.lambda.CallbackFunction`](https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/lambda/#CallbackFunction) includes a link to https://github.com/pulumi/docs/blob/master/reference/serializing-functions.md which leads to a 404. This could be a side effect THE GREAT WEBSITE MIGRATION OF 2019.

[2019-07-18 16:28] #633 closed

[2019-07-18 22:06] clstokes opened #661 "Security group on Instance causes marshaling error"
Setting `vpcSecurityGroupIds` on the instance in the linked code causes an unexpected and unhelpful error:

Removing or commenting out the `vpcSecurityGroupIds` property "fixes" the issue.

Full verbose log at https://gist.github.com/clstokes/25a408056974ed85fedb00dbdf3f280c#file-v9-log.

#### Versions
[code]

#### Error
[code]

#### Code
[code]

[2019-07-19 04:58] lukehoban commented on #661
I tried a few times to repro this - but could not using the same versions.  The error would also be pretty surprising.

I'm going to close out - but if you can still cause this to repro - please to reopen so we can investigate deeper.

[2019-07-19 17:22] stack72 commented on #649
Closed via https://github.com/pulumi/pulumi-aws/pull/662

[2019-07-19 17:22] #649 closed

[2019-07-19 17:22] stack72 commented on #651
Closed via https://github.com/pulumi/pulumi-aws/pull/662

[2019-07-19 17:22] #651 closed

[2019-07-19 18:32] hausdorff commented on #661
I have been able to reproduce this error.

[2019-07-19 18:38] pgavlin commented on #661
@hausdorff can you share the details of your repro?

[2019-07-19 18:52] pgavlin commented on #661
This appears to be related to analyzer plugins. @hausdorff can you take it from here?

[2019-07-19 18:55] hausdorff commented on #661
I re-opened it because I intend to resolve it, yes. This is fixed by https://github.com/pulumi/pulumi/pull/2955.

[2019-07-19 19:23] #661 closed

[2019-07-21 18:41] stack72 commented on #634
Hi @Ilchuk-Mihail

Firstly, my apologies for not getting back to you on this issue sooner.

Unfortunately, I have not been able to recreate this so wanted to run this past you.

I have the following configuration:

[code]

This brings everything up as expected and I have a working pulumi stack with the correct resources (please note the use of `evaluateTargetHealth` is false because I have no inst

[2019-07-21 18:55] stack72 commented on #499
Hi @tcondit

ok, I *finally* got to the bottom of what is going on here. The interaction is as follows:

* Create bucket
* Update bucket with tags <------- THIS IS WHERE IT FAILS

Technically speaking, the first pulumi interaction actually did fail because it didn't complete the creation of the tags on the bucket. But it completed the bucket operation step, it's just that there is a different API

[2019-07-21 19:59] stack72 commented on #627
Ok @nesl247 - just to circle back on this one, I just tried this with Pulumi interpolate and it worked as expected. You are indeed correct that you would need to make the apply with the pulumi.output to make it into the correct format

[code]

One word of note, I have added the ability to pass an IAM Policy Document as follows:

[code]

[2019-07-21 21:27] nesl247 commented on #627
Your solution is exactly what I really wanted, so thanks for that!

[2019-07-21 21:33] stack72 commented on #627
@nesl247 I found 1 tiny bud with this - it’s to do with passing a resource - I will take care of that and get a new version released tomorrow and ping you here about it

[2019-07-21 22:23] stack72 commented on #627
ok @nesl247 just a FYI, you will be able to monitor #665 - when that has been merged and released, then you will be able to run the following:

[code]

Note the use of `pulumi.interpolate` around the need to create the interpolated Resource.

[2019-07-22 03:46] stack72 commented on #635
Ok, I have been able to trace this to a bug upstream! I am trying to work out a fix for it...

[2019-07-22 22:27] pgavlin opened #667 "`TaskDefinition`: normalization of the `memory` value causes unexpected changes"
If the `memory` parameter is set using a suffix (e.g. `512Mi`, `2Gb`, etc.), the returned state will contain a normalized value that does not match the input (e.g. `512`, `2048`, etc.). This causes unexpected diffs when using a Pulumi CLI with v0.17.23 or later.

[2019-07-22 22:27] pgavlin commented on #667
The fix is to use pre-normalized values in the Pulumi program: rather than passing suffixed values, pass the normalized form.

[2019-07-22 22:27] #667 closed

[2019-07-22 22:31] pgavlin opened #668 "`aws.apigateway.RestApi`: unexpected diffs in `name` and `binaryMediaTypes`"
- Despite being optional, the `binaryMediaTypes` field is always filled in by the underlying provider, which causes an unexpected difference

- When the `body` field contains a Swagger API description, the `name` field of the created object is filled in with the `title` of the API. If the `name` field is left unspecified, Pulumi fills in a default auto-generated name that is unlikely to match the

[2019-07-22 22:32] pgavlin commented on #668
The fixes are, respectively:
- Always provide `[ "*/*" ]` for `binaryMediaTypes` rather than leaving it unset
- Explicitly provide a `name` that matches the `title` of the Swagger API when using a Swagger API description

[2019-07-22 22:32] #668 closed

[2019-07-23 06:07] nickmeldrum opened #671 "lambda code inside folder named like the lambda function"
I am trying to set up a lambda in pulumi-aws but my function code when deployed is wrapped in a folder with the same name as the generated lambda function name.

I would prefer not to have this as it's unnecessary, but more than that it means I can't work out what my handler should be as the folder name is generated?

E.g. my function code is 1 simple `index.js` file. with 1 named export of `handl

[2019-07-23 19:29] mazamats opened #673 "Can't use runtime generated role for a Provider"
I have a usecase where I need to generate an IAM Role and then use it as a provider to generate more AWS resources.

When trying the example below, the first `pulumi up` always fails since Pulumi tries to assume the role immediately after creation.

[code]

[2019-07-25 02:51] lukehoban commented on #673
What is the error message that you get here?

Note that you could put a delay inside an apply (setTimeout inside the apply) as a workaround

Sounds like the root issue is that the provider needs to retry the assume role lookup to deal with eventual consistency of IAM. That likely require an upstream AWS provider fix.

[2019-07-25 04:28] tcondit commented on #499
Hi Paul,

Thanks for doing this research and explaining your reasoning. As soon as I
can reproduce everything, I'll let you know what I come up with for making
the steps more clear.

In the meantime, I'll leave this starred in my inbox and try to get back to
it soon.

Regards,
Tim

[2019-07-25 08:37] ncsibra commented on #605
Now we updated one of our stacks, removed both rootBlockDevices and ebsBlockDevices from the aws.ec2.Instance resource and only attaching 1 ebs volume separately and we still have the same issue with the current latest libraries and cli, after a refresh pulumi wants to recreate the ec2 instance.

[2019-07-25 15:36] lukehoban commented on #671
If I understand correctly - this is just part of how Lambda works - the function runs inside a folder named after the function.

Is there something else going on here that you believe is specific to Pulumi?

If so, a repro of that could help. Feel free to reopen

[2019-07-25 15:36] #671 closed

[2019-07-25 15:41] lukehoban commented on #671
Note that the folder name should not impact this at all - `index.handler` refers to the file and exported function. You should not have to guess the name.

[2019-07-25 17:12] mazamats commented on #673
@lukehoban I added the error output above.

Do you have an example for using `setTimeout` inside `apply`?

This is what I'm attempting.

[code]

[2019-07-25 19:50] nickmeldrum commented on #671
Yes you are absolutely right thanks - I had got myself confused as to whether I was using the FileAsset/ AssetArchives correctly as when I invoked the lambda I got handler not found - but it was just because I had moved my lambda from TypeScript to JavaScript and forgotten to change my export line back from ES modules to commonjs!

On that subject by the way - any good examples/ tutorials explaini

[2019-07-26 19:11] astronouth7303 opened #676 "apigateway.DomainName() does not accept documented security_policy"
[code]

[code]

Per https://www.pulumi.com/docs/reference/pkg/python/pulumi_aws/apigateway/

[2019-07-27 01:41] lukehoban commented on #676
This was added very recently. Is it possible you are using an older version of the library?

See also https://github.com/terraform-providers/terraform-provider-aws/issues/9199.

[2019-07-27 01:42] #676 closed

[2019-07-27 01:45] astronouth7303 commented on #676
Oh, yeah, i need to update the venv with the pulumi releases. I've just be updating the binaries.

[2019-07-27 01:50] lukehoban commented on #676
Note that updating the vent packages will actually take care of updating the binaries for you - you shouldn’t need to worry about those separately.

[2019-07-27 01:55] astronouth7303 commented on #676
Ummm.... I do? The PyPI packages don't include the `pulumi` and `pulumi-*` binaries?

[2019-07-28 18:59] BerndWessels opened #678 "aws.cognito.UserPool.lambdaConfig completely broken and unusable"
Hi

the `aws.cognito.UserPool.lambdaConfig` is completely broken.

`pulumi version v0.17.26 on Windows 10`

1. The first time round I can add a `postAuthentication` trigger for example like so
[code]

It even shows up in the AWS Console in the the UserPool Triggers page - **but it breaks the login process and the lambda never gets called.**

_The only way to fix this is to **manually** deselect, s

[2019-07-28 19:23] BerndWessels opened #679 "aws.cognito.IdentityProvider always updates without having changed"
Hi

`pulumi version v0.17.26 Windows 10`

I have a UserPool with a Google Identity Provider. Now **everytime** I run `pulumi up` it believes it has updates even though there have been **no changes**.

This prevents automatic continues deployment via pulumi since infrastructure now deploys everytime even without changes :(

[code]

This is the relevant pulumi code

[code]

[2019-07-30 05:18] stack72 commented on #627
@nesl247 apologies for the silence here - I just fixed this all up and my code from above will now work for you :)

[2019-07-30 10:09] stack72 commented on #634
Hi @Ilchuk-Mihail

I am going to close this out for now - I cannot see an error here - if you are still getting the same thing, please let me know and we can look further

Paul

[2019-07-30 10:09] #634 closed

[2019-07-30 10:29] stack72 commented on #478
@metral I think this can be achieved using the import functionality right?

[2019-07-30 15:50] nesl247 commented on #627
Thanks!

[2019-07-30 22:21] texdc commented on #371
@jen20 @lukehoban I've followed the example and am getting this error:
[code]
I've validated that the role is accurate and that I have access to assume it via the aws cli.
[code]

[2019-07-31 16:10] texdc opened #683 "aws.acm.Certificate should support CertificateAuthorityArn"
I realize that the `Certificate` resource is generated from Terraform and that TF lacks this functionality, too.  However, the AWS SDKs all support `CertificateAuthorityArn` as a configuration parameter.  This is essential for requesting ACM Certificates leveraging the ACM Private CA.

[JS SDK](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/ACM.html#requestCertificate-property)
[boto3](ht

[2019-07-31 16:59] stack72 commented on #683
Hi @texdc

thanks for the feature request here. There is currently an issue in Terraform that tracks the work - https://github.com/terraform-providers/terraform-provider-aws/issues/5550. I would suggest that you comment on the issue there for your level of ugency

I am going to suggest that we can close this out and use this upstream issue as the tracking. As soon as it arrives in Terraform, it wi

[2019-07-31 16:59] #683 closed

[2019-07-31 18:57] texdc commented on #683
@stack72 When will Pulumi be decoupled from TF?

[2019-07-31 19:18] lukehoban commented on #683
No immediate timeframe - but we are exploring options.

[2019-08-01 13:33] armenr opened #684 "pulumi -r causes recreation of ElastiCache resources every single time"
Every time I run `pulumi up -r `, the following resources are all recreated/replaced.

Can someone tell me what I might be doing wrong to be causing this?

The VPC I'm working in has 1 isolated subnet, and spans 2 Availability Zones.

I don't get why it wants to recreate on every single refresh.

### Code below:

[code]

[2019-08-01 17:46] ellismg commented on #684
Could you let us know what version of the `pulumi` CLI you are using as well as what version of the `@pulumi/aws` package you have?

If you run `pulumi refresh` without any changes, I would expect that pulumi will say it wants to make changes to some resources, could you share with us the diffs that it detects?

[2019-08-01 18:25] armenr commented on #684
Pulumi version:
[code]

[code]

**Note:** There's also a weird issue with security groups I'm running into, using awsx + ALB + attachment groups & specifying a default security group - so you'll notice it's trying to also replace/change that.

I *was* going include that in a different issue :)

### Diffs:
[code]

[2019-08-01 18:27] armenr commented on #684
Pulumi Version:
[code]

Packages:
[code]

## Diff:

[code]

[2019-08-02 06:24] armenr commented on #684
I updated all my packages. Still getting the same thing. By the looks of the referenced commits, I'm guessing there was an issue?

[2019-08-02 07:47] ringods opened #686 "Can't import an aws:iam:UserLoginProfile"
I converted this TF snippet

[code]

to Pulumi TS code

[code]
But on preview, I get this warning:

[code]

The PGP key indicator is the same string. How come a difference is detected?

To get around this, I removed my AWS Console login password and instead of importing the resource, I let Pulumi create a new resource.

Context: https://pulumi-community.slack.com/archives/C84L4E3N1/p15635316960218

[2019-08-02 18:08] #684 closed

[2019-08-03 08:35] armenr commented on #684
Hey there @pgavlin - Thanks for addressing the issue and getting the bug patched...but is there any way I can test this out? I don't see a new tagged release, so just wondering when we can get the benefit of this fix.

Thanks again!

[2019-08-03 17:45] pgavlin commented on #684
Hi @armenr! We'll be working on getting the fix rolled out over the next few days.

[2019-08-04 06:22] mk0a1a opened #688 "SES ConfigurationSet, ConfigurationSetArgs, and ConfigurationSetState Typo"
Minor typo for typescript SES ConfigurationSet class, ConfigurationSetArgs, and ConfigurationSetState interfaces. Missing an "i" for Configuration.

[ConfigurationSet ts file](https://github.com/pulumi/pulumi-aws/blob/master/sdk/nodejs/ses/confgurationSet.ts)

[2019-08-04 14:13] lukehoban commented on #688
@stack72 Another case of a typo in the name of a resource:

https://github.com/pulumi/pulumi-aws/blob/377945d2fea136d27dfea1402221b607e41554c5/resources.go#L1564

[2019-08-05 12:27] stack72 commented on #686
ok, so i've spent a wee bit of time looking into this because I know this part of the AWS codebase. Basically, what happens is as follows:

1. Create passes a required username and pgpKey to the provider and sets the fingerprint and also the enrypted_password to state in the Create func.
2. Read sets the User only to state
3. NOTHING sets the PGP Key to state

So Pulumi import is failing because t

[2019-08-05 14:34] ringods commented on #686
@stack72 it is indeed a tricky one. Usually, the creation of the resources provides you a single time with the generated user credentials. After that, it can't be retrieved from AWS again. I have also been thinking about this.

What might be an option is that importing this resource would warn the user that a new set of credentials would be generated and returned. I could live with such a scenario

[2019-08-05 14:53] lukehoban commented on #686
@pgavlin will `ignoreChanges` work here to allow the import to succeed and prevent replacements after import?

[2019-08-05 16:44] #688 closed

[2019-08-05 19:04] pgavlin commented on #686
Yes, it should. I was attempting to test this today, but have not yet been able to as keybase appeared to be unreachable earlier this morning.

[2019-08-05 19:17] pgavlin commented on #686
I have confirmed that the new `ignoreChanges` support fixes this issue.

[2019-08-06 09:34] albertocorrales opened #691 "No way to configure SES on Cognito"
Current with Cognito Api https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/cognito/ we don't have a way to configure Cognito email to use SES Configuration.

This is the way to enable SES from the UI on AWS.
![cognitoSES](https://user-images.githubusercontent.com/33038414/62528883-e0783180-b83d-11e9-9eb4-b0e7538dd647.PNG)

[2019-08-06 15:40] stack72 commented on #691
Hi @albertocorrales

Thanks for opening the issue here - which part of cognito needs to allow email to be configured?

Is there something specific missing on an individual package or are we missing an entire package?

Thanks

Paul

[2019-08-07 07:51] albertocorrales commented on #691
Hey @stack72, I think I found the problem. This feature was added in version 0.18 and I was working with version 0.17.

In new latest version of @pulumi/aws there is a property "emailSendingAccount" in object "emailConfiguration", which allow us to configure SES in Cognito.

Thanks for your quick response and keep it up with the great work you are doing with Pulumi!

[2019-08-07 07:51] #691 closed

[2019-08-07 09:46] stack72 commented on #691
@albertocorrales thanks for closing this out :)

[2019-08-07 17:44] pgavlin commented on #684
We are still working on releasing the next version of `@pulumi/aws`, which will contain this fix. Thanks for your patience.

[2019-08-09 15:51] pgavlin commented on #686
This is fixed as of v0.18.27. The import should succeed if you use `ignoreChanges` to ignore the delta in the `pgpKey` field:

[code]

[2019-08-09 15:51] #686 closed

[2019-08-12 11:33] armenr commented on #684
Hey there @pgavlin - Just checking in to see how this is going? I'm still having the same issue - I've updated to the latest releases of pulumi (command-line) + the latest tagged releases of the corresponding nodeJS packages.

[code]

[2019-08-12 23:23] pgavlin commented on #684
Okay, so I've verified that we've rolled out the fix with v0.18.27 of the Node package, but I've also been able to reproduce the behavior you're seeing. The problem here is that we perform the `refresh` using the _old_ version of the AWS provider, which still contains the original bug. You can migrate your stack to the new version of the AWS provider by running a `pulumi up` without the `-r` flag.

[2019-08-14 06:08] armenr opened #698 "No support for t3a.* instance types"
Looks like the t3a.* instance types aren't supported?

## Code:
[code]

## Error
[code]

[2019-08-14 07:28] stack72 commented on #698
Hi @armenr

Apologies for this - just submitted a PR and will get a release made asap!

[2019-08-14 07:33] mikhailshilkov commented on #698
@armenr While the fix is on its way, you can get around this by
[code]

[2019-08-14 09:02] #698 closed

[2019-08-14 10:32] MarvinErkes opened #700 "AWS ELB(alb) listener rule with extra condition parameters(query-string/http-header)"
It seems like, that there is no implementation for extra condition parameters(except field and values) like queryStringConfig or httpHeaderConfig.
`{
    listenerArn: listenerArn,
    actions: [{
      targetGroupArn: elbTargetGroup.arn,
      type: "forward",
    }],
    conditions: [
      {
        "field":"query-string",
        "queryStringConfig":{
          "values":[
            {

[2019-08-14 11:16] armenr commented on #698
Thanks, friends! That was bloody fast :)

Appreciate it!

[2019-08-14 11:17] stack72 commented on #698
@armenr we try :D

[2019-08-14 11:25] stack72 commented on #700
Hi @MarvinErkes

As we generate our schemas based on the upstream terraform providers, we can see this isn't supported there either. There is a PR open that is tracking that work

https://github.com/terraform-providers/terraform-provider-aws/pull/8268

As soon as that becomes available in a Terraform provider release, then Pulumi will support it a number of hours later!

I think it's best to track

[2019-08-14 11:26] #700 closed

[2019-08-14 11:36] stack72 commented on #678
Hi @BerndWessels

My apologies for now responding sooner to this, we have been heads down on fixing some issues relating to a new release.

Please can you help with a small sample that I can use for recreation so I can see where this is broken?

Thanks

Paul

[2019-08-14 11:45] stack72 commented on #478
ping @metral :)

[2019-08-14 17:08] cnunciato opened #702 "Detect missing storage param for RDS instances"
Having noticed the `allocatedStorage` property on `aws.rds.Instance` was optional, I decided to leave it out, to see how AWS would handle it.

The `preview` succeeded, but the subsequent `up` failed:

![image](https://user-images.githubusercontent.com/274700/63040830-3458cb00-be7b-11e9-9a50-c6c329eab602.png)

If possible, we should fail the preview in this case, since it looks like one of either `

[2019-08-14 18:20] lukehoban commented on #702
I don't believe this is expressible in Terraform schema ("one of these two must be set") and so I don't think it's possible for this to be improved at that layer.  We could try to add custom annotations at the Pulumi layer to help here - but they would be a little ad-hoc as there is no schema-driven way to do this either from Terraform or from AWS schema.  I believe all of CloudFormation, Terrafor

[2019-08-14 19:07] BerndWessels commented on #678
@stack72 Hi, here is the authentication part of one of my projects that uses the `lambdaConfig`. But you should also be able to easily reproduce it in a much smaller version of this.

[code]

[2019-08-15 15:08] didiern opened #703 "DynamoDBv2 action not supported"
Hello,

I am trying to define a IoT TopicRule for AWS using the DynamoDBv2 Action. It looks like the property of the TopicRule class is missing.

Or is there any possibility to use the dynamodb property to define the action of this rule? I tried but it requires hash and sort keys telling me that this is only valid for the dynamodb action and not for dynamodb2 action.

If true there is no possibili

[2019-08-15 15:58] metral opened #704 "Argument of type 'Cluster' is not assignable to parameter of type 'ComponentResource'."
Hitting this issue in `pulumi/eks` CI on this [test](https://github.com/pulumi/pulumi-eks/tree/master/nodejs/eks/examples/tests/replace-cluster-add-subnets).

Logs: https://gist.github.com/f764f3a7070da04fda658feb1f1764b7

Output:
[code]

Per Slack:

[2019-08-15 16:32] jarmbruster74 opened #705 "IAM PolicyDocument ConditionArguments needs to allow Array of values in addition to scalar value"
IAM and Resource policy allow for certain condition arguments that can evaluate multiple values in a single condition statement.

2 examples are aws:SourceIp like
[code]
And s3:prefix
[code]

To allow for this the ConditionArguments type here https://github.com/pulumi/pulumi-aws/blob/master/sdk/nodejs/iam/documents.ts#L115 would need to be expanded to allow for array values in addition to the curr

[2019-08-15 17:24] metral commented on #704
Hit this again just now. It's blocking `pulumi/eks` CI yesterday and today.

[2019-08-15 20:05] lukehoban opened #708 "RouteTableAssociation fails to `import`"
The following program:

[code]

Fails with:

[code]

This ID does indeed exist and this is the correct format for the ID of the resource.

Detailed logs show the call to `DescribeRouteTablesResponse` inside the upstream provider succeeding.

[2019-08-16 00:58] metral commented on #478
@stack72 Apologies for the delay in response! IIUC how the import works, it takes an existing object not created in Pulumi and imports it to use. If that is correct, then this does not seem like it will work for the `kubeconfig` file as that is not stored in the cluster at all - it is generated by whatever means instantiated the cluster.

The proper fix for this is to expose a `kubeconfig()` metho

[2019-08-16 03:59] #705 closed

[2019-08-16 09:43] stack72 commented on #703
Hi @didiern

As you may or may not know, Pulumi generates it's schema based on the upstream Terraform provider. I am sad to say, there is no support for this functionality yet in the Terraform provider. But, there is an open PR for this work https://github.com/terraform-providers/terraform-provider-aws/pull/7469

Once this PR gets merged and included in a Terraform provider release, it's only a ma

[2019-08-16 09:43] #703 closed

[2019-08-16 17:58] stack72 commented on #702
There isn't anything we can do here. Basically the schema only requires `allocatedStorage` to be set if it's a new DB Instance. A new DB Instance is said to be the case when no `snapshotIdentifier` or `replicateSourceDB` is passed. As you said, we can do something ad-hoc here but this is flakey and we would need to maintain this in the future

FWIW, `maxAllocatedStorage` is only supported with DBs

[2019-08-16 21:31] cnunciato commented on #702
Ok, thanks for the explanation, makes sense. I'll go ahead and close.

[2019-08-16 21:31] #702 closed

[2019-08-20 15:30] 0xCMP commented on #708
A similar problem also happening when importing `aws.ec2.SecurityGroupRule`. Seems like all the resources which aren't actually "id"d in AWS and use a special import pattern have a problem.

[2019-08-20 19:00] Blitz2145 opened #713 "TaskDefinition dependsOn property not available"
I am setting up a awsx.FargateService and it looks like there is no way to pass dependsOn for the containers configs? Not to be confused with the pulumi dependsOn, I am referring to https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html#container_definition_dependson
It looks like this parameter is not inside the pulumi-aws package either.

[2019-08-20 20:40] stack72 commented on #713
Hi @Blitz2145

There is no named property for `dependsOn` in either Pulumi nor Terraform. DependsOn is part of `container_definition` - that property is a string which is made up of JSON

Therefore, you can include that `dependsOn` in that JSON blob

Can you try this and let me know?

thanks

Paul

[2019-08-20 20:53] Blitz2145 commented on #713
Thanks, I understand I can workaround it by generating the container definition json string myself, but I was hoping the property could be added to `ecs.Container` type and pulumi code could do the work like it does with the other props for a container.

[2019-08-21 01:13] #713 closed

[2019-08-21 17:59] pgavlin commented on #708
I believe this is an issue with the code in tfbridge that runs the importer: https://github.com/pulumi/pulumi-terraform/blob/master/pkg/tfbridge/provider.go#L115-L165

This code does not account for the fact that the ID may change relative to the ID provided by the user. I think that in the common case this should be a pretty straightforward fix.

[2019-08-27 16:24] benswinburne opened #718 "aws.appautoscaling.Target role ARN always updates"
When creating an application autoscaling target, it's not possible to bypass the default service role created by AWS. According to [Service Auto Scaling Required IAM Permissions][1] the role is created for you. However when trying to insert a role I've created the target is always created/updated to the following.

Then whenever I attempt to update the stack it hasn't updated and thinks it needs t

[2019-08-28 12:27] armenr opened #719 "Misleading Documentation - autoscale class Groups ==> GroupArgs"
### Documentation link:

https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/autoscaling/#example-usage

### My code:

[code]

### Error output

[code]

[2019-08-28 18:34] cowwoc opened #722 "aws implementation points to Terraform help page"
Given:

[code]

When I run `pulumi up` I get:

[code]

Notice that the error message asks me to visit terraform's website.

[2019-08-28 19:49] armenr commented on #719
Please know that I love you guys and Pulumi. Just got bit by this one and lost a wee bit of time. :)

Thank you!

[2019-08-29 13:23] chicocvenancio opened #723 "Allow management of codecommit specific credentials"
The AWS CLI allows the creation of service specific credentials to use git with ssh or http credentials. See https://docs.aws.amazon.com/cli/latest/reference/iam/create-service-specific-credential.html
Ideally this would be possible to manage as a pulumi resource.

[2019-08-29 17:37] pgavlin commented on #723
The upstream Terraform provider lacks this support: https://github.com/terraform-providers/terraform-provider-aws/issues/3233. Once that issue is fixed, we will pick up support for this resource.

In the meantime, you can work around the lack of support by implementing a [dynamic provider](https://www.pulumi.com/docs/intro/concepts/programming-model/#dynamicproviders) that can manage these credent

[2019-08-29 17:37] #723 closed

[2019-08-30 14:51] ncsibra opened #726 "aws.iam.AccessKey secret property should be marked as secret"
Hi,

Currently the secret output property of the aws.iam.AccessKey is not marked as secret, so written to the state file as plain text, but I think it should be secret.

[2019-08-30 22:40] texdc opened #727 "Property 'executionArn' does not exist on type 'Input<RestApi>'."
Because Crosswalk (awsx) Api does not support custom IAM Roles and instead uses *highly* insecure generic AWS Read Access roles (no [least-privilege](https://en.wikipedia.org/wiki/Principle_of_least_privilege)), I'm needing to build out ComponentResources for various parts of ApiGateway.  Inside one, I'm wanting to build the Permission to execute a lambda and get this typing error:

[code]

Sample

[2019-09-01 19:09] stack72 commented on #499
Hi @tcondit

Is there anything I can do to make this better or is this just something we can close out?

Thanks

Paul

[2019-09-03 02:37] texdc commented on #727
I "fixed" it with `apply`.  But, `apply` and `get` are probably the worst part of Pulumi.  Can `Lifted` be used more extensively?  Right now, I'm trying to check the value of a `Resource.path`, but I can't call `toString()` on an `Output<string>`.

[2019-09-03 02:37] #727 closed

[2019-09-03 02:42] tcondit commented on #499
Hi Paul,

Nope, thanks for the explanation earlier. Please close it.

Cheers,
Tim

On Sun, Sep 1, 2019 at 12:09 PM Paul Stack <notifications@github.com> wrote:

--
Regards,
Tim Condit

[2019-09-03 09:08] #499 closed

[2019-09-03 19:13] pgavlin commented on #727
cc @CyrusNajmabadi @lukehoban

[2019-09-03 19:26] pgavlin commented on #726
This property is [deprecated](https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_iam_access_key.go#L40-L44); see the note at https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/iam/#AccessKeyState-secret. Passing a valid PGP key to the `pgpKey` input property will cause the provider to leave `secret` empty (`encryptedSecret` will be populated instead

[2019-09-03 19:26] #726 closed

[2019-09-06 15:59] benswinburne opened #735 "Kinesis Firehose processingConfiguration parameters updates every time"
As per the title, on every update the stack attempts to update by removing this parameter `BufferSizeInMBs` which I've never had in my configuration, but presumably is added behind the scenes?

[code]

[code]

[2019-09-06 17:19] pgavlin commented on #735
I _think_ that this is due to the following issue in the upstream Terraform provider: https://github.com/terraform-providers/terraform-provider-aws/issues/9827

We'll pick up the fix for this issue once it is fixed in the upstream provider, and we'll use that issue for tracking. In the meantime, can you try setting the [`ignoreChanges` property of `ResourceOptions`](https://www.pulumi.com/docs/int

[2019-09-06 17:19] #735 closed

[2019-09-07 12:30] benswinburne commented on #735
@pgavlin, cheers. I added add a matching `BufferSizeInMBs` parameter for now and will keep an eye on the TF issue. What's the best way of knowing when a fixed TF issue ends up in Pulumi?

[2019-09-07 17:26] pgavlin commented on #735
In general, a fixed TF issue ends up in Pulumi within 24 hours of the release of whichever version of the corresponding TF provider contains the fix. We update the CHANGELOG for each release with the version of the TF provider the release contains: https://github.com/pulumi/pulumi-aws/blob/master/CHANGELOG.md

[2019-09-07 17:27] benswinburne commented on #735
Ah, nice that's easy enough. Thanks for the quick response; much appreciated.

[2019-09-09 11:50] stack72 commented on #719
Going to move this to tf2pulumi as this is where we need the fix to be applied

[2019-09-13 10:39] pawelros opened #744 "EC2 instance gets always recreated due to securityGroups diff"
Version:
[code]
(tested as well on 1.0.0).

Repo to reproduce: https://github.com/LykkeCorp/pulumi-ec2-test

Subsequent `pulumi up`  always recreates EC2 instance despite the fact that nothing changes in the code and in aws infrastructure. `pulumi preview --diff` shows:

[code]

Security group `sg-031ff89f54c568531` of course already exists and does not change between runs. I tried to use inline i

[2019-09-13 14:34] stack72 commented on #744
Hi @pawelros

You can only use securityGroups when you are using the default VPC / Classic EC2

You need to change to use vpcSecurityGroupIds as the parameter and this will solve your problem

Paul

[2019-09-16 13:02] pawelros commented on #744
That was it. Thank you very much.

[2019-09-16 13:02] #744 closed

[2019-09-16 16:41] jen20 opened #747 "Perpetual diff in EBS volume attachment since v1.1.0"
From the community slack:

[code]

Code:

[code]

[2019-09-18 14:24] Blitz2145 commented on #201
In order to reach steady state faster on our services, we had to lower the default `deregistrationDelay` in the targetGroup to something like 30 (app dependant) instead of 300, which lowered service deploy times by few minutes.

[2019-09-19 09:34] stack72 commented on #722
Hi all,

I have tried to recreate this today - when using the latest pulumi-aws from npm, I get the following error when not supplying any credentials at all:

[code]

This is what we had hoped would happen with #580

@cowwoc if you still see this error on the latest version of pulumi-aws, then please do let me know

Paul

[2019-09-19 09:34] #722 closed

[2019-09-19 21:32] loganb opened #750 "AWS Lambda Layer arn fails validation"
Hello,

I'm trying to build an AWS Lambda Function with a Lambda Layer, and I'm running into a validation error when I try to deploy. My code looks like:

[code]

When I attempt to bring this stack up, I get this error:

[code]

If I'm reading this right, it looks like I'm missing a version number on the layer arn. But the docs for `LayerVersion#arn` is `The Amazon Resource Name (ARN) of the Lambd

[2019-09-19 22:04] pgavlin commented on #750
It's possible that we have a mistake in the documentation. What happens if you try using the `layerArn` property instead of the `arn` property?

[2019-09-19 22:41] loganb commented on #750
I flipped the using `layerArn` and got  the same error. It looks like `arn` and `layerArn` are returning the same thing.

[code]

[2019-09-19 23:09] pgavlin commented on #750
This is very strange. @stack72 can you take a deeper look at this?

[2019-09-20 11:37] mikhailshilkov commented on #750
Strange indeed, your snippet works fine for me. Here is my entire program:

[code]

Just in case, I'm on `pulumi/pulumi 1.1.0` and `pulumi/aws 1.2.1`.

[2019-09-20 15:52] loganb commented on #750
I can confirm I'm on both versions you specified. I tried deploying my code once without the layer, it succeeded, then I added the layer and it succeeded. ¯\_(ツ)_/¯

[2019-09-20 15:53] #750 closed

[2019-09-20 15:58] mikhailshilkov opened #751 "Lambda environment change isn't picked up"
Run `pulumi up` on the following program:

[code]
after the deployment succeeds, change `environment` to
[code]

Expected: `pulumi up` overrides `environment`.
Current result: `preview` has no changes and `up` deploys nothing.

Note: the env variable name has to be in UPPERCASE (may also contain `_`). Lowercase changes are detected.

[2019-09-20 16:02] stack72 commented on #750
Thanks for following up @loganb - let us know if there are any other issues here

[2019-09-20 16:55] pgavlin commented on #751
@mikhailshilkov any chance you can share the contents of `./app/bin/Debug/netcoreapp2.1/publish` ?

[2019-09-20 16:56] pgavlin commented on #751
And do you have the equivalent TF config?

[2019-09-20 17:10] danfhernandez commented on #751
I also have an example here if this is helpful:

[code]

[helloworld.zip](https://github.com/pulumi/pulumi-aws/files/3637038/helloworld.zip)

[2019-09-20 18:42] mikhailshilkov commented on #751
@pgavlin You can build it from https://github.com/pulumi/examples/tree/master/aws-ts-serverless-raw but you don't really need it, just zip any folder really, you don't need lambda to work to reproduce. Or you the one from @danfhernandez

TF:

[code]

[2019-09-20 20:50] clstokes opened #752 "`tags` on `aws.applicationloadbalancing.getLoadBalancer` isn't actually supported"
Our SDK advertises `tags` on [`GetLoadBalancerArgs`](https://github.com/pulumi/pulumi-aws/blob/adb7f6b166229532299877d607f7da6f256512ef/sdk/nodejs/alb/getLoadBalancer.ts#L57-L67) for `aws.applicationloadbalancing.getLoadBalancer`, but the underlying AWS Terraform provider doesn't actually support this (per [data_source_aws_lb](https://github.com/terraform-providers/terraform-provider-aws/blob/7ad6

[2019-09-20 22:44] lukehoban commented on #752
The root of the problem is that the schema for this property marks it as `Optional` + `Computed`, so we expect it can be passed as an input.  But the provider doesn't use it as an input and doesn't document that it uses it as an input.

Arguably the right fix is in the upstream Terraform provider, but we may also want to have the ability to override this in our mapping, since the impact is greater

[2019-09-21 06:03] ellismg opened #753 "aws.ses.ReceiptRule normaization causes updates to always be proposed."
Consider the following program:

[code]

During a no-op update, Pulumi belives that the `recipients` property of the ReceiptRule needs to change, because it looks like the provider lowercases the address:

[code]

If allowed to apply, the update does "work" (i.e. the overall operation does not fail), but doing another update continues to propose this diff.

Looking in the AWS Console, the rule doe

[2019-09-23 17:53] #751 closed

[2019-09-25 17:06] fernandocarletti opened #756 "Wrong information for Transit Gateway VPC Attachment after refresh"
I have a Transit Gateway VPC Attachment defined as follow:

[code]

It creates the attachment correctly, but once I run a `refresh`, the `transitGatewayDefaultRouteTableAssociation` and `transitGatewayDefaultRouteTablePropagation` are set to true in the state, while still set to false in AWS:
![image](https://user-images.githubusercontent.com/416930/65623046-903f6500-df8c-11e9-817f-a703bdb140f8.pn

[2019-09-25 17:35] michaelharrisonroth commented on #381
@lukehoban has any progress been made on this issue? I'm not sure if it's simply related to the number of changes or the application growth but we are no longer able to deploy as it always times out.

[2019-09-28 09:41] armenr opened #758 "Tags for Name property on LaunchTemplate generated EC2s"
Quick question:

How can tag ec2s created by a LaunchTemplate + an AutoScale Group with names...like `web` or `web-1` for example?

Thanks for any help you might be able to provide!

[2019-09-28 09:43] stack72 commented on #758
Hi @armenr

I’m not sure I understand the question - you want to be able supply Name tags to instances in an ASG launched by InstanceTemplate

Right?

Paul

[2019-09-28 09:50] stack72 commented on #758
IF that is what you mean, then in the AutoScaling group, you would add the following:

[code]

There is no real way of adding `-1` etc as there is no real understanding of what is 1, 2, 3 etc

[2019-09-28 10:39] stack72 commented on #753
I have been able to reproduce this in Terraform. There are a number ways we can deal with this:

1. We can add a strings.ToLower transformer in pulumi-terraform
2. We can change upstream to add a StateFunc
3. We can change upstream to add a DiffSuppressFunc

I need to think of the best way to handle this

[2019-09-28 11:26] lukehoban commented on #753
I’d suggest 2 or 3. I don’t think we should try to workaround this in the Pulumi-Terraform bridge.

[2019-09-28 14:34] stack72 commented on #753
Ok, I sent a PR upstream for #2 as it's a better option

https://github.com/terraform-providers/terraform-provider-aws/pull/10283

This will fix this up - we can close this issue out and track the upstream PR now

[2019-09-28 14:34] #753 closed

[2019-09-28 15:18] stack72 commented on #756
Hi @fernandocarletti

I have been able to recreate this both in Pulumi and the upstream Terraform provider. I am working on a fix right now

Paul

[2019-09-28 15:57] armenr commented on #758
Thank you!! :)

[2019-09-28 15:57] #758 closed

[2019-09-30 15:48] stack72 commented on #747
From the following code:

[code]

I was able to get this:

[code]

Another pulumi up showed no changes required:

[code]

This is using Pulumi v1.2.0

I am going to close this out as I can't reproduce it - if there is any other occurrences of it, then we can reopen it

[2019-09-30 15:48] #747 closed

[2019-09-30 15:53] stack72 commented on #752
@lukehoban so for this specific thing, we are going to have to add something to our bridge that tells us to mark this field as computed. In the upstream provider, tags are set as:

[code]

This means they are Optional + Computed - but this is used in a LOT of places. I don't believe that the Terraform provider would actually accept a fix upstream there

Thoughts on this?

Paul

[2019-09-30 19:27] dbilleci-lightstream opened #759 "Sudden error deploying ECS service: error in "google-protobuf""
[code]

versions:
[code]

I don't think that's us calling google-protobuf, but the error isn't super helpful, can't tell if this is something we're doing wrong or pulumi internals.

I tried deploying the new task revision via the AWS console and it went fine.

Here's the related pulumi code in the stack, pretty simple overall:

[code]

[2019-09-30 19:33] lukehoban commented on #759
I just tried a fresh `pulumi new` and didn't see these errors.  Could you share your `package-lock.json` to understand what versions of the dependencies you picked up here?

[2019-09-30 19:52] dbilleci-lightstream commented on #759
We have a bit of a different config whereas we have the package.json and package-lock.json at a higher level in our folder structure.  This works well for nodeJS but I have at least one open issue still regarding this, so maybe it's related.

Here's the folder structures, as you can see in the deep folder with the project, no package.json or lock file, but up a couple directories, there is:

[code

[2019-09-30 20:03] dbilleci-lightstream commented on #759
Also, FYI these errors are happening, and those package/package lock files are current after running this:
[code]

So it should be a fresh install.  I noticed that the lock file still is referencing pulumi/pulumi at 1.1.0, not sure if that is related.

[2019-10-01 00:16] dbilleci-lightstream commented on #759
I realized my "clear" command posted above didn't clear package-lock.json, so I added that and refreshed it.  Same issue, here's the updated package-lock.json after clearing it and re-running `npm install` on the package.json shown above:  https://pastebin.com/PzQRrP8d

same error though, sorta stuck for the moment... any ideas on possible workarounds?

[2019-10-01 00:53] dbilleci-lightstream commented on #759
OK - I found the cause it seems, here's where I traced it back to:

[code]

[2019-10-03 11:45] zvikagart commented on #747
This still happens to me (with same output [as originally posted](https://github.com/pulumi/pulumi-aws/issues/747#issue-494159609)).

One thing I can think of is that I'm creating an instance with encrypted EBS volume from a source AMI where the `/dev/sdf` EBS volume is not encrypted.

[2019-10-03 12:00] stack72 commented on #747
Hi @zvikagart

That is indeed the issue - the AMI will not be able to be marked as ebs_optimized and thus will always show it has to change

Paul

[2019-10-03 12:12] stack72 commented on #642
Hi @armenr

Is this something you still need help in working out or can I close this out?

Paul

[2019-10-03 20:42] thatarchguy opened #762 "MSK EncryptionInTransit docs missing from Typescript"
The docs for MSK for Nodejs are missing the section on "encryptionInTransit".

It's included in the Python docs:
https://github.com/pulumi/pulumi-aws/blob/00cb3238e9c4300fd7e47c1bfb798964795f8490/sdk/python/pulumi_aws/msk/cluster.py#L127

This is confusing because the Typescript docs have references to the section, but not docs on the section itself:
https://github.com/pulumi/pulumi-aws/blob/00cb3

[2019-10-04 09:19] armenr commented on #642
All good! Everything works as expected since the latest few updates :)

[2019-10-04 09:19] #642 closed

[2019-10-07 17:02] stack72 commented on #762
Hi @thatarchguy

Thanks for opening the issue here. Unfortunately, it was confusing from the text:

[code]

But there is actually a link here:

<img width="963" alt="Screenshot 2019-10-07 at 19 58 46" src="https://user-images.githubusercontent.com/227823/66332279-081e6f80-e93d-11e9-8c61-670ef8be03f8.png">

Clicking on that will take you to

https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/a

[2019-10-07 17:02] #762 closed

[2019-10-07 19:01] clstokes opened #2502 "Properties missing for types that use `utils.Overwrite`"

[2019-10-15 17:57] Brijeshrpatel9 opened #768 "Cloudformation get_stack is returning weird error to fetch the template"
I have bunch of AWS cloudformation stacks. I am planning to call get_stack method on my existing stack using this code:
`aws.cloudformation.get_stack(name = 'my-stack-name')`

But when I tried to run it, I am getting following error:
`Exception: invocation of aws:cloudformation/getStack:getStack returned an error: invoking aws:cloudformation/getStack:getStack: template body contains an invalid JSO

[2019-10-15 22:00] nguyenxndaidev opened #769 "lifecycle block does not exist in aws.ec2.LaunchConfigurationArgs"
I could not specify lifecycle for aws.ec2.LaunchConfiguration.

In the [documentation](https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/ec2/#using-with-autoscaling-groups):

But does it exist?

Terraform supports it: https://www.terraform.io/docs/providers/aws/r/launch_configuration.html

I am using @pulumi/aws 1.6.0

[2019-10-16 08:55] nguyenxndaidev commented on #769
Hi @stack72, thanks for your reply!

I will test that default behavior and let you know if it works for me.

But anyway, we still need to allow to set `createBeforeDestroy` to `false` when needed, right?

Best regards

[2019-10-16 08:59] stack72 commented on #769
Hi @nguyenxndaidev

You shouldn’t need to unless you are overriding Pulumis autonaming

Paul

[2019-10-16 09:04] nguyenxndaidev commented on #769
Hmm, I am new to both Terraform and Pulumi, so I don't know what do you mean. Why Terraform allows to configure lifecycle but Pulumi not? I understand that Pulumi gives us the best default for most cases, but do not allow to change the default configuration is strange to me.

[2019-10-16 09:07] stack72 commented on #769
Pulumi has that lifecycle by default

You can disable it of course but it would be via the custom resource options where you can enable deleteBeforeCreate

[2019-10-16 09:11] nguyenxndaidev commented on #769
Cool! thanks for the tip. I need to learn more to understand how Pulumi works.

[2019-10-16 09:27] stack72 commented on #769
Let me know if this doesn’t work for you :)

[2019-10-16 15:51] jasminen opened #770 "Stack acquiring ownership over foreign resources (f.e. s3 bucket)"
Found what seems to be a critical bug in creating s3 buckets (although not sure yet if it only happens on s3 buckets). When creating a bucket that already exists (was created manually or created by a different pulumi stack) pulumi will show 'created' and the stack will now reference that already existing bucket. Meaning we can have the same s3 bucket managed by different stacks.

Expected behaviou

[2019-10-16 16:20] lukehoban commented on #770
This appears to be due to https://github.com/terraform-providers/terraform-provider-aws/issues/3307, which is ultimately due to a [backward compatibility setting in only the `us-east-1` region of AWS](https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html#ErrorCodeList).  I confirmed that this does not repro in other regions.

It's theoretically possible this could be fixed in the ups

[2019-10-16 16:20] #770 closed

[2019-10-16 17:56] #769 closed

[2019-10-16 22:02] nguyenxndaidev commented on #769
I confirm that the default behavior `createBeforeDestroy` works as expected.
`deleteBeforeReplace: true` in `CustomResourceOptions` block also works as expected.

Thanks for your help!

[2019-10-16 22:04] stack72 commented on #769
Thanks for confirming @nguyenxndaidev!

[2019-10-16 22:51] joeduffy opened #772 "Directly importing a type leads to exception"
If I try to do this

[code]

rather than this

[code]

I receive the following error

[code]

I assume this is an import ordering issue and might not be something we can fix. If it is fixable, however, that would be nice, as the former import style is preferable sometimes.

[2019-10-17 00:53] CyrusNajmabadi commented on #772
I think this may be easy to fix.  The main issue is that we generate our index.ts in these cloud providers such that they import their own directory files in alphabetical order. This can be highly problematic with ordering.

I solved this in Azure (where it actually was blocking us) by making all the mixins called `zMixins.ts` so they would be mixed in at the end, after all the normal code had loa

[2019-10-17 01:53] joeduffy commented on #772
Great! Not super urgent, obviously, but probably a nice thing to fix eventually.

[2019-10-17 10:00] #752 closed

[2019-10-21 11:36] mikhailshilkov opened #774 "Update the default Lambda runtime to Node 10.x"
Node.js 8.10 will reach EOL end of this year:

As per email communication ([this page](https://docs.aws.amazon.com/lambda/latest/dg/runtime-support-policy.html) doesn't seem to reflect it yet).

`pulumi-aws` should now default to Node 10.x for Callback Functions.

Probably, the docs should reflect this too, e.g. [here](https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/lambda/#NodeJS8d10R

[2019-10-21 14:23] nguyenxndaidev opened #775 "The default description of rds/mysql is "Managed by Terraform""
The default description of rds/mysql is **Managed by Terraform**

[2019-10-21 14:32] stack72 commented on #775
Hi @nguyenxndaidev

what RDS resource are you creating here? Is it a global cluster,  cluster or an instance?

Paul

[2019-10-21 19:36] danielrbradley opened #777 "Add AWS config option for default Lambda runtime version"
Currently as far as I know, the default runtime version is hard-coded within Pulumi as '8.x'. The only method of specifying a different default Lambda runtime version is to use the `aws.Lambda.CallbackFunction` type which has a `runtime` property within its arguments.

I would like to be able to specify a default Lambda runtime version on a per-stack basis through setting something like `pulumi co

[2019-10-21 20:25] lukehoban commented on #777
Definitely agree this would be useful to add.

As a slight aside - one other way to address this today without changing a lot of code is to use the new `transformation` feature.  For example - adding this at the beginning of your program:

[code]

[2019-10-21 20:41] stack72 commented on #774
@mikhailshilkov so the clarify the work you want done here:

1. Mark 8.10 as deprecated and add a message as to why
2. Set the default to be 10.x - we currently don't set a default in Pulumi - but I am presuming we can do that

[2019-10-21 20:48] mikhailshilkov commented on #774
@stack72 Yes, correct. Not sure if it's correct to deprecate it right now or closer to Jan 1, but the default (which we set [here](https://github.com/pulumi/pulumi-aws/blob/master/sdk/nodejs/lambda/lambdaMixins.ts#L320)) should be changed.

[2019-10-22 08:34] danielrbradley commented on #774
My suggestion would be to indicate the deprecation as early as possible to dissuade use of a runtime which will soon be reaching end of life. As of Jan 6 using the runtime will start causing deploy errors when trying to create new functions. Therefore, it would be good to give plenty of time to migrate ahead of that date to minimise disruption.

[2019-10-22 10:11] stack72 commented on #774
I agree @danielrbradley - we should add the deprecation message to it now saying when it will be EOLed

[2019-10-22 10:23] stack72 commented on #774
@CyrusNajmabadi / @lukehoban I'd like your thoughts on the defaulting to NodeJS 10.x please :)

[2019-10-22 14:43] stack72 commented on #775
Ping @nguyenxndaidev

[2019-10-22 19:41] konsumer commented on #390
Would it be possible to show an example of this? I am having a heck of a time figuring out how to expose a database to the internet.

Here is what I have so far:

[code]

I think this is right so far, but I can't seem to figure out how to hook `vpc` up to `db`.

[2019-10-23 07:39] nguyenxndaidev commented on #775
Hi @stack72 it's an rds instance

[2019-10-23 08:28] stack72 commented on #775
Hi @nguyenxndaidev

I cannot see any "description" field on the RDS Cluster, DB Instance or RDS Cluster Instance resources

I think it would be really helpful if you could post some same code that recreates this to see if I can replicate it

Thanks

Paul

[2019-10-23 12:30] nguyenxndaidev commented on #775
[code]

[2019-10-23 15:42] stack72 commented on #775
Hi @nguyenxndaidev

So I've not been able to recreate this - there is no description field on an RDS DB Instance. I am not sure what resource you seeing here, but there's not any way that I can get a description here.

I have tried the code above - it actually fails due to lots of missing parameters but even when I created the instance, I still didn't get it

Can you take a screenshot from the AWS

[2019-10-23 19:27] dbilleci-lightstream opened #779 "Creating SNS subscription fails 1.6.0"
[code]

Using code:
[code]

Gives an error when ran:  https://pastebin.com/HARi8ZSN

Also, trying to pass in a full ARN as string, or using success_topic.arn as the input, both throw errors on autocomplete and `update` saying you can't use a string there, but the docs show you can:

https://www.pulumi.com/docs/reference/pkg/nodejs/pulumi/aws/sns/#example-usage-4
example from docs:
[code]

Neither

[2019-10-24 16:45] #775 closed

[2019-10-27 12:24] alexmcmanus opened #781 "aws.appsync.Function defaults to generating an invalid function name"
Pulumi generates a `name` argument for most resources by appending a unique suffix to the resource name. E.g.
[code]
...will generate a function name like `lookupInputBusinessId-058765e`. Unfortunately, `-` is not a legal character for a function name.

Pulumi -> Terraform -> AWS happily lets you create a function with an illegal name however. After creating it, the AWS console  won't let you edit

[2019-10-28 15:51] joeduffy opened #783 "Updating security group to 0 ingress rules shows no diff"
If I have a security group already provisioned as:

[code]

And then delete the sole `ingress` rule and property entry altogether, running a `pulumi up` shows me that nothing changed. I expected it would notice the set is now empty.

I'm not sure whether this is specific to this example or a broader problem with empty set diffing.

[2019-11-01 13:48] joeduffy commented on #252
It appears this is still a problem. The issue seems to be specifically with `source_profile`, which we apparently do not respect. We hit this in a workshop today. The error is as follows:

`error: unable to discover AWS AccessKeyID and/or SecretAccessKey - see https://pulumi.io/install/aws.html for details on configuration`

[2019-11-08 16:01] butschi commented on #252
@joeduffy I had the same problem and after reading your comment I just created a new aws profile for pulumi and copied the remaining lines from the source profile into it. Then it worked. Thanks!

Also keep in mind that the other issue #584 leaves the impression that it does not work at all with MFA tokens.

[2019-11-09 03:11] shellicar opened #791 "AWS config in pulumi stack config is no longer respected"
## Issue

Previously, aws config, including `aws:accessKey`, `aws:region`, and `aws:secretKey` were used from the `Pulumi.{stack}.yaml` file. \
This no longer seems to be the case after what I can only guess was a dependency update. \
It was working on
Even though pulumi itself was not updated, and no packages in the package.json (using TypeScript) were updated, a CICD build that used to work now